/*------------------------------------*\
    $DOCS
\*------------------------------------*/
/**
 * Basic documentation structural styling. 
 * 
 * Designed and built @kurenn  
 */

@import "compass/css3/border-radius";
@import "compass/css3/images";

//Variables
@import "furatto/variables";

.affix {
  position: fixed;
  top: 80px;
}

.docs-examples {
  img {
    height: 168px;
  }
}

.docs-body, .docs-panels {
  background: #2980b9;
  height: 100%;
}

.docs-example {
  border: 1px solid #e1e1e8;
  border-bottom: none;
  padding: 20px 20px 10px 20px;
  @include border-top-radius(4px);

  &:before {
    content: "Example";
    color: #BBB;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 20px;
    display: block;
  }

}

.docs-section {
  padding-top: 50px;
}

.docs-code {
  background: #f7f7f9;
  color: #2980b9;
  padding: 0px 20px;
  @include border-bottom-radius(4px);
  border-left: 1px solid #e1e1e8;
  border-right: 1px solid #e1e1e8;
  border-bottom: 1px solid #e1e1e8;
  margin-bottom:20px;

  pre {
    background: none;
    border: none;
    margin-top: 0;
    margin-bottom: 0;

    code {
      background: none;
      margin-top: 0;
    }
  }

  .docs-code-attribute {
    color: #d44950;
  }
}

.docs-focus {
  border-color: rgba($input-focus-color,.8) !important;
}

.docs-white-text {
  * {
    color: #FFF !important;
  }
}

.docs-footer {
  * {
    color: #FFF !important;
  }

  .docs-license { 
    color: #BDE4FF !important;
  }
}

.docs-navbar {
  box-shadow: 0 1px 0 rgba(255,255,255,.1);
  border-bottom: 1px solid $dark-blue;
}

/* Jumbo Header */
/*--------------------------------------*/

.jumbo-container {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;

  .jumbo-header {
    margin: 0;
    font-size: 60px;
    color: $white;
    margin-bottom: 60px;
    font-weight: 300;

    .jumbo-header-version {
      color: $white;
      font-size: 30px;
    }
  }

  .motto {
    color: $white;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 60px;
  }
}

.section-jumbo-container {
  @include background-image(linear-gradient(left, $jumbo-container-bg-color, $jumbo-container-bg-gradient));
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 25px;

  .jumbo-header {
    margin: 0;
    font-size: 50px;
    color: #093857;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .motto {
    color: $white;
    font-size: 26px;
    font-weight: 200;
    margin: 0;
  }
  
}

.panel-content {
  border-left: 1px solid #CCC;
}

.docs-navbar-menu {
  float: none !important;
  margin: 0 auto !important;
}

.docs-navbar-inner {
  padding-left: 0px !important;
}

.header {
  margin-top: 30px;
  margin-bottom: 30px;
}

.docs-sidebar {
  .nav-bordered > li > a {
    border-bottom: 1px solid #CCC;
  }

  .nav-bordered li:last-child a {
    border-bottom: none;
  }
}

.docs-visible {
  background: lighten($green, 20%);
  color: darken($dark-green, 20%);
  text-align: center !important;
}

.docs-invisible {
  background: #efefef;
  color: #999;
  text-align: center !important;
}

@media (max-width: $nav-bar-collapse-width) {
  .affix {
    position: static;
  }
}

.docs-container {
  padding: 0px 10px;
}

.docs-icons {
  list-style: none; 
  overflow: hidden;
  margin: 0 0 20px 0;

  li {
    border: 1px solid #ccc;
    text-align: center;
    font-size: 16px;
    width: 25%;
    height: 115px;
    float: left;
    padding: 28px 10px;

    @media (min-width: 768px) {
      width: 12.5%;
    }

    &:hover {
      background: rgba($dark-blue, 0.1);
    }

    i {
      display: block;
      font-size: 24px;
    }

  }
}

.docs-example-header {
  font-weight: bolder;
  margin-top: 10px;
}

.docs-example-description {
  font-size: 14px;
}

//Add-ons
.add-on {
  background: #efefef;
}

.add-on-title {
  font-weight: bolder;

  a {
    color: #000;
  }
}

.add-on-image {
  float: left;
  margin-right: 5px;
}

.add-on-details {
  font-size: 11px;
  font-style: italic;
  color: #666;

  a {
    font-style: normal;
  }
}

.add-on-description {
  font-size: 14px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */

.docs-sidebar {
  /*position: static;*/
  /*width: 100%;*/
}

}
