//Make sure the charset is set correctly
@charset "UTF-8";

//Compass Utilities
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

//Variables
@import "furatto/variables";

//Helpers
@import "furatto/mixins";

//Import the font file for the site
@import "furatto/fonts";

//General css for layout
@import 'furatto/base';

//Buttons
@import 'furatto/buttons';

//Labels
@import 'furatto/labels';

//Alerts
@import 'furatto/alerts';

//Navs
@import 'furatto/nav';

//Navbar
@import 'furatto/navbar';

//Vertical navbar
/*@import 'furatto/vrt_navbar';*/

//Forms
@import 'furatto/forms';

//Tables
@import 'furatto/tables';
@import 'furatto/responsive_tables';

//Images
@import 'furatto/images';

//Selects
/*@import 'furatto/select';*/

//Check box/Radio buttons
@import 'furatto/checkbox_radio_buttons';

//Footer
@import 'furatto/footer';

//Code
@import 'furatto/code';

//Base
@import 'furatto/typography';

//Pagination
@import 'furatto/pagination';

//Tooltips
@import 'furatto/tooltips';

//Tags
@import 'furatto/tags';

//DatePicker
@import 'furatto/date_picker';
@import 'furatto/date_picker.date';
/*@import 'furatto/date_picker.time';*/

//Toolbar
@import 'furatto/toolbars';

//Modal
@import 'furatto/modal';

//Slider
@import 'furatto/responsiveslides';

//Drowpdowns
@import 'furatto/dropdown';

//Panel Menu
@import 'furatto/panel';

//Grid
@import 'furatto/grid';
/*@import 'furatto/responsive-1200px-min';*/
/*@import 'furatto/responsive-768px-979px';*/
/*@import 'furatto/responsive-767px-max';*/
@import 'furatto/responsive_navbar';
@import 'furatto/dashboard';
@import 'furatto/docs';

