//Make sure the charset is set correctly
@charset "UTF-8";

//Compass Utilities
@import "compass/css3";

// Global settings
@import "furatto/global";

//Helpers
@import "furatto/mixins";
@import "furatto/selectors";
@import "furatto/media_queries";

//General css for layout
@import 'furatto/base';

//Buttons
@import 'furatto/buttons';

//Button groups
@import 'furatto/button-groups';

//Labels
@import 'furatto/labels';

//Alerts
@import 'furatto/alerts';

//Navs
@import 'furatto/navigation';

//Forms
@import 'furatto/forms';

//Images
@import 'furatto/images';

//Off screen
@import 'furatto/off_screen';

//Navbar
@import 'furatto/navigation_bar';

//Base
@import 'furatto/typography';

//Grid
@import 'furatto/grid';

//Tables
@import 'furatto/tables';

//Responsive utilities
@import 'furatto/responsive_utilities';

//Modal
@import 'furatto/modal';

//Tooltips
@import 'furatto/tooltips';

//Pagination
@import 'furatto/pagination';

/*//Toolbar*/
@import 'furatto/toolbars';

//Slider
@import 'furatto/suraido';

//Tabs
@import 'furatto/tabs';

//Experimental
@import 'furatto/experimental';
