<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>{{title}}</title>
<link rel="stylesheet" href="assets/css/normalize.css" />
<link rel="stylesheet" href="assets/css/furatto.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="panels">
  <div class="panel panel-left">
  </div>
</div>

<div class="panel-content">
  <div class="navbar inverse-navbar navbar-fixed-top navbar-alpha">
    <div class="navbar-inner">
      <div class="container">
        <a href="#menu" class="menu-trigger meteocon" data-meteocon="M" data-toggle="panel" data-target="#menu"></a>
        <div class="nav-collapse collapse">
          <nav id="menu">
            <ul class="nav">
              <li><a class="brand" href="index.html">Furatto</a></li>
              <li class="{{buttons}}"><a href="buttons.html">{{_i}}Buttons{{/i}}</a></li>
              <li class="{{images}}"><a href="images.html">{{_i}}Images{{/i}}</a></li>
              <li class="{{tables}}"><a href="tables.html">{{_i}}Tables{{/i}}</a></li>
              <li class="{{base}}"><a href="base.html">{{_i}}Base{{/i}}</a></li>
              <li class="{{grid}}"><a href="grid.html">{{_i}}Grid{{/i}}</a></li>
              <li class="{{forms}}"><a href="forms.html">{{_i}}Forms{{/i}}</a></li>
              <li class="{{components}}"><a href="components.html">{{_i}}Components{{/i}}</a></li>
              <li class="{{javascript}}"><a href="javascript.html">{{_i}}Javascript{{/i}}</a></li>
            </ul>
            {{#components}}
            <form action="" method="get" accept-charset="utf-8" class="search-navbar-form pull-right">
              <input type="text" name="" id="" value="" placeholder="Search" class="search-text-input" />
            </form>
            <ul class="nav pull-right">
              <li class="divider-vertical"></li>
              <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings<b class="caret bottom-up"></b></a>
              <ul class="dropdown-menu bottom-up pull-right">
                <li><a href="#">Graphic Design</a></li>
                <li><a href="#">Software</a></li>
                <li><a href="#">Industrial Design</a></li>
                <li><a href="#">Business Planning</a></li>
                <li class="divider"></li>
                <li><a href="#">Development and Research</a></li>
              </ul>
              </li>
            </ul>
            {{/components}}
            {{#javascript}}
            <ul class="nav pull-right">
              <li class="divider-vertical"></li>
              <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">DropDown Form<b class="caret bottom-up"></b></a>
              <div class="dropdown-menu bottom-up pull-right" >
                <form action="#" method="post" accept-charset="UTF-8">
                  <input id="user_username" type="text" placeholder="username" />
                  <input id="user_password" type="password" placeholder="***********" />
                  <input type="checkbox" id="checkbox1" data-furatto='checkbox' data-color="blue">
                  <label for="checkbox1" class="checkbox-label inline">Remember Me</label>
                  <input class="btn btn-primary btn-block" type="submit" name="commit" value="Sign In" />
                </form>
              </div>
              </li>
            </ul>
            {{/javascript}}
          </nav>
        </div>
      </div>
    </div>
  </div>
  {{>body}}
<div class="footer">
  <div class="footer-wrapper">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="span6">
            <p class="copyright">Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank" class="link">Apache License v2.0</a></p>
          </div>
          <div class="span6">
            <ul class="hrz-nav pull-right">
              <li><a href="index.html">Home</a></li>
              <li><a href="assets/furatto.zip">Download</a></li>
              <li><a href="https://github.com/IcaliaLabs/furatto-rails">Rails</a></li>
              <li><a href="https://github.com/IcaliaLabs/furatto" target="_blank">Github</a></li>
            </ul>
          </div>
        </div>      
      </div>
    </div>
  </div>
</div>
</div>


{{#production}}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-32608013-3', 'icalialabs.github.io');
    ga('send', 'pageview');

  </script>
{{/production}}

<script src="assets/js/jquery.js"></script>
<script src="assets/js/snap.js"></script>
<script src="assets/js/panel.js"></script>
<script src="assets/js/jquery.dropkick-1.0.0.js"></script>
<script src="assets/js/jquery.icheck.js"></script>
<script src="assets/js/rainbow-custom.min.js"></script>
<script src="assets/js/tooltip.js"></script>
<script src="assets/js/jquery.tagsinput.js"></script>
<script src="assets/js/picker.js"></script>
<script src="assets/js/picker.date.js"></script>
<script src="assets/js/picker.time.js"></script>
<script src="assets/js/legacy.js"></script>
<script src="assets/js/jquery.toolbar.js"></script>
<script src="assets/js/jquery.avgrund.js"></script>
<script src="assets/js/responsiveslides.js"></script>
<script src="assets/js/responsive-tables.js"></script>
<script src="assets/js/dropdown.js"></script>
<script src="assets/js/furatto-modal.js"></script>
<script src="assets/js/manifest.js"></script>

</body>
</html>
