<!DOCTYPE html>
<html class="{{#index}}docs-body{{/index}}">
<head>
<meta charset=utf-8 />
<title>{{title}}</title>
<link rel="stylesheet" href="assets/css/normalize.css" />
<link rel="stylesheet" href="assets/css/furatto.css" />
<link rel="stylesheet" href="assets/css/font-awesome.css" />
<link rel="stylesheet" href="assets/css/docs.css" />
<link rel="stylesheet" href="assets/css/animate.css" />
<link rel="shortcut icon" href="assets/img/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
{{#production}}
<script async="" src="http://www.google-analytics.com/ga.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32608013-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{{/production}}
</head>
<body class="{{#index}}docs-body{{/index}}">

<div class="panels {{#index}}docs-panels{{/index}}">
  <div class="panel panel-inverse panel-left docs-panel">
  </div>
</div>

<div class="panel-content {{#index}}docs-body{{/index}}" id="body">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner docs-navbar-inner">
      <div class="container">
        <a href="#menu" class="menu-trigger meteocon" data-meteocon="M" data-toggle="panel" data-target="#menu"></a>
        <div class="nav-collapse collapse">
          <nav id="menu">
            <ul class="nav docs-navbar-menu">
              <li><a class="brand" href="index.html">Furatto</a></li>
              <li class="{{getting_started}}"><a href="getting_started.html">{{_i}}Getting Started{{/i}}</a></li>
              <li class="{{docs}}"><a href="docs.html">{{_i}}Docs{{/i}}</a></li>
              <li class="{{javascript}}"><a href="javascript.html">{{_i}}Javascript{{/i}}</a></li>
              <li class="{{components}}"><a href="components.html">{{_i}}Components{{/i}}</a></li>
              <li class="{{examples}}"><a href="examples.html">{{_i}}Examples{{/i}}</a></li>
              <li class="{{add_ons}}"><a href="add_ons.html">{{_i}}Add-ons{{/i}}</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  {{>body}}
  <div class="row footer {{#index}}docs-footer{{/index}}">
  <p class="copyright">Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank" class="docs-license">Apache License v2.0</a></p>
  <ul class="inline">
    <li><a href="index.html">Home</a></li>
    <li><a href="assets/furatto.zip" onclick="_gaq.push(['_trackEvent', 'Furatto Actions', 'Download', 'Download V2']);">Download</a></li>
    <li><a href="https://github.com/IcaliaLabs/furatto-rails">Rails</a></li>
    <li><a href="https://github.com/IcaliaLabs/furatto" target="_blank">Github</a></li>
    <li><a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a></li>
  </ul>
</div>

</div>

<script src="assets/js/jquery.js"></script>
<script src="assets/js/furatto.min.js"></script>
<script src="assets/js/furatto-demo.js"></script>
</body>
</html>
