<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>{{title}}</title>
<link rel="stylesheet" href="assets/css/normalize.css" />
<link rel="stylesheet" href="assets/css/furatto.css" />
</head>
<body>

<div class="navbar inverse-navbar navbar-fixed-top navbar-alpha">
  <div class="navbar-inner">
    <div class="container">
      <a href="#menu" class="menu-trigger meteocon" data-meteocon="M"></a>
      <div class="nav-collapse collapse">
        <nav id="menu">
          <ul class="nav">
            <li><a class="brand" href="index.html">Furatto</a></li>
            <li class="{{buttons}}"><a href="buttons.html">{{_i}}Buttons{{/i}}</a></li>
            <li class="{{images}}"><a href="images.html">{{_i}}Images{{/i}}</a></li>
            <li class="{{tables}}"><a href="tables.html">{{_i}}Tables{{/i}}</a></li>
            <li class="{{base}}"><a href="base.html">{{_i}}Base{{/i}}</a></li>
            <li class="{{grid}}"><a href="grid.html">{{_i}}Grid{{/i}}</a></li>
            <li class="{{forms}}"><a href="forms.html">{{_i}}Forms{{/i}}</a></li>
            <li class="{{components}}"><a href="components.html">{{_i}}Components{{/i}}</a></li>
            <li class="{{javascript}}"><a href="javascript.html">{{_i}}Javascript{{/i}}</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

{{>body}}

<div class="footer">
  <div class="footer-wrapper">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="span6">
            <p class="copyright">Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank" class="link">Apache License v2.0</a></p>
          </div>
          <div class="span6">
            <ul class="hrz-nav pull-right">
              <li><a href="index.html">Home</a></li>
              <li><a href="#">Download</a></li>
              <li><a href="#">Rails</a></li>
              <li><a href="https://github.com/IcaliaLabs/furatto" target="_blank">Github</a></li>
              <li><a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a></li>
            </ul>
          </div>
        </div>      
      </div>
    </div>
  </div>
</div>

<script src="assets/js/jquery.js"></script>
<script src="assets/js/jpanel.js"></script>
<script src="assets/js/jquery.dropkick-1.0.0.js"></script>
<script src="assets/js/jquery.icheck.js"></script>
<script src="assets/js/rainbow-custom.min.js"></script>
<script src="assets/js/tooltip.js"></script>
<script src="assets/js/jquery.tagsinput.js"></script>
<script src="assets/js/picker.js"></script>
<script src="assets/js/picker.date.js"></script>
<script src="assets/js/picker.time.js"></script>
<script src="assets/js/legacy.js"></script>
<script src="assets/js/jquery.toolbar.js"></script>
<script src="assets/js/jquery.avgrund.js"></script>
<script src="assets/js/responsiveslides.js"></script>
<script src="assets/js/dropdown.js"></script>
<script src="assets/js/manifest.js"></script>

</body>
</html>
