<div class="row">
  <div class="section-jumbo-container">
    <h1 class="jumbo-header">Buttons</h1> 
    <p class="motto">
      A collection of sleek buttons
    </p>
  </div>
</div>

<div class="main-container">
  <div class="container-center">
<div class="row">
  <div class="col-3">
    <ul class="nav nav-bordered">
      <li class="nav-header">Item one</li>
      <li><a href="#">Item one</a></li>
      <li> 
        <a href="#" data-toggle="nav">Toggle</a>
        <ul>
          <li><a href="#">Item one</a></li>
          <li><a href="#">Item one</a></li>
          <li><a href="#">Item one</a></li>
        </ul>
      </li>
      <li>
        <a href="#" data-toggle="nav">Toggle</a>
        <ul>
          <li><a href="#">Item one</a></li>
          <li><a href="#">Item one</a></li>
          <li><a href="#">Item one</a></li>
        </ul>
      </li>
      <li><a href="#">Item one</a></li>
      <li><a href="#">Item one</a></li>
      <li class="nav-divider"></li>
      <li><a href="#">Item one</a></li>
      <li><a href="#">Item one</a></li>
      <li><a href="#">Item one</a></li>
      <li><a href="#">Item one</a></li>
    </ul>
    <a href="assets/furatto.zip" class="btn btn-info btn-block btn-large"><i class="icon-download-alt"></i> Download Furatto</a>
  </div>
  <div class="col-9">
    CONTENT
  </div>
</div>
    <div class="row">
      <h2>Default buttons</h2>
      <p>It is really simply to create a button, just the add <span class="code html">btn</span> class name to any <span class="code html">&lt;a&gt;</span> or <span class="code html">&lt;button&gt;</span> element.</p>
      <a href="javascript:void(0)" class="btn">Default button</a>
      <button href="javascript:void(0)" class="btn">Default button</button>
      <pre data-language="html">
<code>
<a href="javascript:void(0)" class="btn">Default button</a>
<button href="javascript:void(0)" class="btn">Default button</button>
</code>
      </pre>
      <br />
      <h2>Disable buttons</h2>
      <p>You can mark a button as disabled just by adding the <span class="code html">disabled</span> class name.</p>
      <a href="javascript:void(0)" class="btn disabled">Default button</a>
      <button href="javascript:void(0)" class="btn disabled">Default button</button>
      <pre data-language="html">
<code>
<a href="javascript:void(0)" class="btn disabled">Default button</a>
<button href="javascript:void(0)" class="btn disabled">Default button</button>
</code>
      </pre>
      <br />
      <h2>Primary buttons</h2>
      <p>This is the main button for primary actions across the website, just add the <span class="code html">btn-primary</span> class name.</p>
      <a href="javascript:void(0)" class="btn btn-primary">Primary button</a>
      <button href="javascript:void(0)" class="btn btn-primary">Primary button</button>
      <pre data-language="html">
<code>
<a href="javascript:void(0)" class="btn btn-primary">Primary button</a>
<button href="javascript:void(0)" class="btn btn-primary">Primary button</button>
</code>
      </pre>
      <br />
      <h2>Colorful buttons</h2>
      <p>It is easy to switch between button colors.</p>
      <a href="javascript:void(0)" class="btn btn-primary">Button</a>
      <a href="javascript:void(0)" class="btn btn-success">Button</a>
      <a href="javascript:void(0)" class="btn btn-danger">Button</a>
      <a href="javascript:void(0)" class="btn btn-warning">Button</a>
      <a href="javascript:void(0)" class="btn btn-info">Button</a>
      <a href="javascript:void(0)" class="btn btn-funky">Button</a>
      <a href="javascript:void(0)" class="btn btn-highlight">Button</a>
      <pre data-language="html">
<code>
<a href="javascript:void(0)" class="btn btn-primary">Button</a>
<a href="javascript:void(0)" class="btn btn-success">Button</a>
<a href="javascript:void(0)" class="btn btn-danger">Button</a>
<a href="javascript:void(0)" class="btn btn-warning">Button</a>
<a href="javascript:void(0)" class="btn btn-info">Button</a>
<a href="javascript:void(0)" class="btn btn-funky">Button</a>
<a href="javascript:void(0)" class="btn btn-highlight">Button</a>
</code>
      </pre>       
      <br />
      <h2>Sizing buttons</h2>
      <p>Furatto comes with 5 different button sizes for you to play around...</p>
      <a href="javascript:void(0)" class="btn btn-primary btn-mini">Button</a>
      <a href="javascript:void(0)" class="btn btn-primary btn-small">Button</a>
      <a href="javascript:void(0)" class="btn btn-primary btn-large">Button</a>
      <a href="javascript:void(0)" class="btn btn-primary btn-xlarge">Button</a>
      <a href="javascript:void(0)" class="btn btn-primary btn-xxlarge">Button</a>
      <pre data-language="html">
<code>
<a href="javascript:void(0)" class="btn btn-primary btn-mini">Button</a>
<a href="javascript:void(0)" class="btn btn-primary btn-small">Button</a>
<a href="javascript:void(0)" class="btn btn-primary btn-large">Button</a>
<a href="javascript:void(0)" class="btn btn-primary btn-xlarge">Button</a>
<a href="javascript:void(0)" class="btn btn-primary btn-xxlarge">Button</a>
</code>
      </pre>
      <br />
      <h2>Block buttons</h2>
      <a href="javascript:void(0)" class="btn btn-primary btn-block">Button</a>
      <pre data-language="html">
<code>
<a href="javascript:void(0)" class="btn btn-primary btn-block">Button</a>
</code>
      </pre>
      <br />
      <h2>Buttons with icons</h2>
      <a href="javascript:void(0)" class="btn btn-info">
        <i class="icon-shopping-cart icon-white"></i>
        Checkout
      </a>
      <a href="javascript:void(0)" class="btn btn-primary btn-large">
        <i class="icon-cog icon-white"></i>
        Settings
      </a>
      <pre data-language="html">
<code>
<a href="javascript:void(0)" class="btn btn-info">
  <i class="icon-shopping-cart icon-white"></i>
Checkout
</a>
<a href="javascript:void(0)" class="btn btn-primary btn-large">
  <i class="icon-cog icon-white"></i>
Settings
</a>
</code>
    </div>
  </div>
</div>

