<div class="row">
  <div class="section-jumbo-container">
    <h1 class="jumbo-header">Examples</h1> 
    <p class="motto">A few examples to get you started.</p>
  </div>
</div>

<div class="container-center docs-examples">
   <div class="row">
    <h2 class="header">Life is good</h2>
    <h4 class="light">We provided some examples for you to kickoff your next project.</h4>
    <hr />
   </div>
   <div class="row">
    <div class="col-4">
      <a href="examples/basic_setup.html" target="_blank"><img src="assets/img/basic-steup.png" alt="" class="img img-polaroid img-block" /></a>
      <h4 class="docs-example-header">Basic template</h4>
      <p class="docs-example-description">Includes the basic HTML, the CSS and JS to start any project.</p>
    </div>
    <div class="col-4">
      <a href="examples/landing.html" target="_blank"><img src="assets/img/landing.png" alt="" class="img img-polaroid img-block" /></a>
      <h4 class="docs-example-header">Landing template</h4>
      <p class="docs-example-description">Build a landing page fast an easy with a navbar, a jumbo container and a little bit of grid.</p>
    </div>
    <div class="col-4">
      <a href="examples/login.html" target="_blank"><img src="assets/img/log-in.png" alt="" class="img img-polaroid img-block" /></a>
      <h4 class="docs-example-header">Log In template</h4>
      <p class="docs-example-description">Build a simple and beautiful login form.</p>
    </div>
   </div>
   <hr />
   <div class="row">
    <div class="col-4">
      <a href="examples/carousel.html" target="_blank"><img src="assets/img/carousel.png" alt="" class="img img-polaroid img-block" /></a>
      <h4 class="docs-example-header">Carousel</h4>
      <p class="docs-example-description">A simple implementation of carousel, a navbar and features presentation.</p>
    </div>
    <div class="col-4">
      <a href="examples/dashboard.html" target="_blank"><img src="assets/img/dashboard.png" alt="" class="img img-polaroid img-block" /></a>
      <h4 class="docs-example-header">Dashboard</h4>
      <p class="docs-example-description">A super simple dashboard using inly the grid.</p>
    </div>
    <div class="col-4">
      <a href="examples/thumbnails.html" target="_blank"><img src="assets/img/thumbnails.png" alt="" class="img img-polaroid img-block" /></a>
      <h4 class="docs-example-header">Thumbnails template</h4>
      <p class="docs-example-description">A thumbnails template, using a custom footer.</p>
    </div>
   </div>
   <hr />
</div>
