// Buttons

//
// @imports
//
@import "compass";
@import "functions";
@import "media_queries";
@import "pseudo_selectors";

//
// @variables
//

//Base button styles
$base-font-family: "Open Sans", "Helvetica", sans-serif !default;
$button-base-margin: 5px 0 !default;

//Padding sizes for button
$button-padding-bottom-top: 8 !default;
$button-padding-right-left: 32 !default;

//Padding sizes for buttons
$button-small: px-to-rems($button-padding-bottom-top / 4) px-to-rems($button-padding-right-left / 3) !default;
$button-default: px-to-rems($button-padding-bottom-top) px-to-rems($button-padding-right-left) !default;
$button-large:  px-to-rems($button-padding-bottom-top * 2) px-to-rems($button-padding-right-left * 2) !default;

//Buttons style
$button-display: inline-block !default;
$button-default-background-color: #0092FC !default;

//Buttons general styles
$button-font-family: $base-font-family !default;
$button-font-color: #FFF !default;
$button-font-weight: 500 !default;
$button-font-size: px-to-rems(14) !default;
$button-font-small: px-to-rems(12) !default;
$button-font-large: px-to-rems(16) !default;
$button-vertical-separation: px-to-rems(5) !default;

//Buttons variations
$button-radius: px-to-rems(4) !default;
$button-alpha-border: 3px solid #FFF !default;
$button-alpha-color: #FFF !default;
$button-3d-border-width: px-to-rems(3) !default;
$button-disabled-background: #CBCBCB !default;
$button-active-background: darken($button-default-background-color, 5%) !default;
$button-circular-size: px-to-rems(50) !default;

//
// @mixin
//
// We use this mixin to create a default button base style
//

@mixin button-base($button-font-color: #FFF,
                   $button-font-family: "Open Sans",
                   $button-font-weight: 500) {
  color: $button-font-color;
  cursor: pointer;
  display: $button-display;
  font-family: $button-font-family;
  font-weight: $button-font-weight;
  line-height: normal;
  margin: $button-base-margin;
  outline: none;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  @include appearance(none);

  &:hover {
    text-decoration: none;
  }
}

//
//@mixin
//
// We use this mixin to add the differente button variations
//
// $background-color - Is the background color for the button to create. Default: $button-default-background-color

@mixin button-style($background-color: $button-default-background-color) {

  background-color: $background-color;

  &.block {
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }

  /* Vertical separation */
  /*----------------------*/
  &.block + &.block {
    margin-top: $button-vertical-separation;
  }

  &.disabled, &[disabled] {
    cursor: no-drop;
    background: $button-disabled-background;

    &:active, &:focus {
      background: $button-disabled-background;
    }
  }

  &.active, &:active, &:focus {
    background: $button-active-background;
    outline: none;
  }

  &.alpha {
    background: transparent;
    border: 3px solid $background-color;
    color: $background-color;

    &:hover {
      background: $background-color;
      color: #FFF;
    }
  }

  &.circular {
    height: $button-circular-size;
    width: $button-circular-size;
    padding: 0;
    @include border-radius(50%);

    i, span {
      @extend %vertical-alignment;
      display: inline-block;
    }
  }

  &.shadow {
    @include box-shadow(1px 2px 4px 0px rgba(167, 167, 167, 0.5));
  }

  &.push {
    position: relative;
    @include box-shadow(inset 0px -3px 0px darken($background-color, 10%));
    @include single-transition(all, 0.1s, ease-in-out);

    &:hover {
      top: 1px;
      @include box-shadow(inset 0px 0px 0px darken($background-color, 10%));
    }
  }

  &.radius {
    @include border-radius($button-radius);
  }

  &.pill {
    @include border-radius(1000px);
  }

  &.responsive {
    @include phone {
      & {
        display: block;
        width: 100%;
      }
    }
  }
}

//
//@mixin
//
// We use this mixin to set the button size
// $padding - The padding to give to the button. Default: $button-default
// $font-size - The font size for the button. Default: $button-font-size
//

@mixin button-size($padding: $button-default, $font-size: $button-font-size) {
  font-size: $font-size;
  padding: $padding;
}

//
//@mixin
//
// We use this mixin to let the user create custom buttons nice and easy
// $background-color - Is the background color for the button to create. Default: #0092FC
// $padding - The padding to give to the button. Default: $button-default
// $font-size - The font size for the button. Default: $button-font-size
// $font-weight - The font weight for the button. Default: 500
// $font-family The font family for the button. Default: $base-font-family
// $font-color The font color for the button. Default: #FFF
// Example .custom-button { @include button($background-color: #1abc9c); }
//

@mixin button($background-color: #0092FC,
           $padding: px-to-rems($button-padding-bottom-top) px-to-rems($button-padding-right-left),
           $font-size: px-to-rems(14),
           $font-family: $base-font-family,
           $font-color: #FFF,
           $font-weight: 500) {

  @include button-base($button-font-color: $font-color,
                       $button-font-family: $font-family,
                       $button-font-weight: $font-weight);
  @include button-style($background-color);
  @include button-size($padding, $font-size);
}

// Button style definition
button,
input[type="submit"],
input[type="reset"] {
  border: none;
}


button,
input[type="submit"],
input[type="reset"],
.button {
  // We use the power of mixins
  @include button-base;
  @include button-style;
  @include button-size;

  // Custom sizes
  &.large { @include button-size($padding: $button-large, $font-size: $button-font-large); }
  &.small { @include button-size($padding: $button-small, $font-size: $button-font-small); }
}
