//Variables
//

$muted-text-color: #666666 !default;

//
//Class Names to handle content
//
.pull {

  &.right {
    float: right;
  }

  &.left {
    float: left;
  }
}

.clearfix {
  @extend %clearfix;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.column.no-padding,
.columns.no-padding,
.no-padding {
  padding: 0;
}

//
//Class Names to handle text
//

.text {
  .uppercase {
    text-transform: uppercase;
  }

  .muted {
    color: $muted-text-color;
  }

  .striked {
    text-decoration: line-through;
  }
}
