// Mixin to set the touch callout actions for different vendors
@mixin touch-callout($value: none) {
  -webkit-touch-callout: $value;
  -webkit-user-select: $value;
  -khtml-user-select: $value;
  -moz-user-select: moz-#{ $value };
  -ms-user-select: $value;
  user-select: $value;
}

//Mixins to define the visibility media queries support
@mixin responsive-invisibility {
  display: none !important;

  tr,
  th,
  td {
    display: none !important;
  }
}

@mixin responsive-visibility {
  display: block !important;

  &.button {
    display: inline-block !important;
  }

  tr {
    display: table-row !important;
  }

  th,
  td {
    display: table-cell !important;
  }
}

// Flexbox

@mixin flexbox-display {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex($value: 1) {
  -webkit-flex: $value;
  -moz-flex: $value;
  -ms-flex: $value;
  flex: $value;
}
