// Aligns the content vertically speaking
%vertical-alignment {
  @include transform(translateY(-50%));
  margin: 0;
  position: relative;
  top: 50%;
}

//Clears the float from any element
%clearfix {
  &:before, &:after {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }
}
