// Aligns the content vertically speaking
%vertical-alignment {
  @include transform(translateY(-50%));
  margin: 0;
  position: relative;
  top: 50%;
}

//Will clearfix any the content,
//to prevent floating objects to fly around
%clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}
