@import "scss/furatto/functions";

//Navigation bar overrides
$navigation-bar-background: #FFF;
$navigation-bar-height: 80px;
$navigation-bar-color: #0091FB;
$navigation-bar-link-color: #0091FB;
$navigation-bar-brand-section-font-size: px-to-rems(32);
$navigation-bar-button-color: #0091FB;
$navigation-bar-button-font-size: px-to-rems(12);
$navigation-bar-margin-bottom: 30px;

$col-border-color: #F4F4F4;
$row-next-to-row-separation: 0;

@import "scss/furatto";
@import "font-awesome";

.container {
  @extend %clearfix;
  margin: 0 auto;
  width: 95%;
}

.navigation-bar {
  position: relative;

  .main-navigation {
    position: absolute;
    left: 50%;
    margin-left: -122px;
  }
}

.devices-image {
  width: 50%;
  margin-bottom: 120px;
}

.main-section {
  margin-bottom: 100px;

  .motto {
    color: #0092FB;
    font-weight: 300;
    font-size: px-to-rems(40);
    line-height: px-to-rems(46);
    margin-bottom: 20px;
  }

  .main-motto-wrapper {
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -192px;
  }

  .sub-motto {
    color: #9CA7AF;
    font-size: px-to-rems(16);
    margin: 0 auto;
    width: 40%;
  }
}

.sub-section {
  text-align: center;

  .header {
    color: #0092FB;
    font-size: px-to-rems(24);
    font-weight: 300;
    margin: 0;
  }

  .motto {
    color: #9CA7AF;
    margin: 0;
  }
}

a {
  color: #0092FB;
}

.footer {
  font-size: 14px;
  color: #9CA7BD;
  margin-bottom: 100px;
}

.contribute {
  margin: 20px auto 150px auto;
  padding: 30px 0;
  text-align: center;
  width: 60%;

  .motto {
    color: #0092FB;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .sub-motto {
    color: #9CA7AF;
    font-size: 15px;
    font-weight: 300;
    margin: 0 auto 35px auto;
  }
}

.examples {
  @extend .contribute;
  width: 90%;

  img {
    margin-bottom: 32px;
  }

  .sub-motto {
    margin: 0 auto 50px auto;
  }
}

.icon-container {
}

.icon {
  @include border-radius(3px);
  background: rgba(#0092FB, 0.03);
  width: 154px;
  min-height: 132px;
  max-height: 132px;
  border: 2px solid #0092FB;
  margin: 0 auto;
  position: relative;
  @include single-transition(all, 0.2s, ease-in);

  &:hover {
    @include translateY(-10px);
  }

  &::after {
    @include border-radius(1000px);
    background: rgba(#0092FB, 0.1);
    position: absolute;
    content: "";
    bottom: -9px;
    left: -10px;
    height: 10px;
    width: 174px;
    z-index: -1;
  }

  .header {
    clear: both;
    height: 0;
    border: solid #0092FB;
    border-width: 2px 0 0;
    margin-top: 14px;
    margin-bottom: 0px;
  }

  .icon-wrapper {
    line-height: 20px;
  }

  .rectangle {
    min-height: 16px;
    width: 45%;
    border: 2px solid #0092FB;
    display: inline-block;

    &.colored {
      background: rgba(#0092FB, 0.2);
    }

    &.tall {
      min-height: 26px
    }

    &.small {
      width: 30%;
    }

    &.medium {
      width: 60%;
    }

    &.block {
      width: 100%;
    }

    &.long {
      width: 80%;
    }
  }
}

.login-form-icon {
  text-align: center;

  .icon-wrapper {
    padding: 15px;
    text-align: center;

    .rectangle:last-child {
      margin-top: 5px;
    }
  }
}

.bare-bones-icon,
.gallery-icon,
.blog-icon {
  .icon-wrapper {
    padding: 8px;
  }
}

