@import "../scss/furatto/functions";
@import "compass/css3";

$primary-color: #B565A7;

//Base config
$warning-text-color: $primary-color;
$error-text-color: #7c1717;

//Grid config
$grid-primary-background-color: $primary-color;
$grid-success-background-color: #191818;
$button-primary-background: $primary-color;
$button-warning-background: $primary-color;

//Navigation bar config
$navigation-bar-height: 70px;
$navigation-bar-background: $primary-color;
$navigation-bar-color: #FFF;
$navigation-bar-link-color: #FFF;
$navigation-bar-brand-section-font-size: px-to-rems(18);
$navigation-font-size: px-to-rems(14);
$navigation-margin-bottom: 0px;
$navigation-bar-link-hover-color: #FFF;
$navigation-bar-divider-color: rgba(#FFF, 0.1);
$navigation-bar-hover-link-background-color: transparent;
$navigation-bar-border-bottom: 1px solid darken($primary-color, 5%);
$col-border-alpha: 0.2;

//label
$label-warning-background: $primary-color;

$blockquote-border-primary-color: $primary-color;
$blockquote-border-color: $primary-color;

.upside-down-ninja {
  float: right;
  padding-right: 30px;
}

.main-motto {
  font-size: px-to-rems(20);
  color: #6F6F6F;
}

.white {
  color: #FFF;
}

.main-description-container {
  padding: 100px 20px 0 20px;
  background: $primary-color;
  position: relative;
  overflow: hidden;

  .header {
    font-weight: bold;
    color: #FFF;
    margin-bottom: 0;
    font-size: px-to-rems(40);

    & + .text-warning {
      font-size: px-to-rems(26);
    }
  }

  .subheader {
    color: darken($primary-color, 15%);
    margin-top: 0;
    font-weight: 200;
    font-size: px-to-rems(20);
  }

  .navigation {
    padding: 0;
  }

  .download {
    font-weight: bold;
  }

  .social {
    color: darken($primary-color, 15%);

    a {
      .fa {
        color: darken($primary-color, 15%);
        font-size: px-to-rems(38);
      }
    }
  }

  .row {
    width: 80%;
    @extend %center-block;
  }

  .computer-ninja {
    position: relative;
    top: 10px;
  }
}

.skills-header-container {
  text-align: center;
  border-bottom: 1px solid #999;
  padding: 22px 0;
  margin-bottom: 30px;
  
  .header {
    color: darken($primary-color, 10%);
    letter-spacing: 3px;
    font-size: px-to-rems(18);
    margin: 0;
  } 
}

.skills {
  .skills-motto {
    margin-bottom: 40px;
    padding-right: 100px;
  }

  .skills-header {
    color: #444;
    font-size: px-to-rems(20);
    margin: 0;

    & + .skills-header {
      color: rgb(125, 125, 125);
    }
  }

  .skill {
    img {
      margin-bottom: 8px;
    }

    h6 {
      color: $primary-color; 
    }

    text-align: center;
  }
}

.examples {
  background: rgb(43, 48, 53);
  padding-bottom: 20px;

  .examples-header {
    text-align: center;
    padding: 22px 0;
    letter-spacing: 3px; 
    border-bottom: 1px solid rgba(#CCC, 0.2);
    margin-bottom: 20px;
    .header {
      color: #FFF;
      margin: 0;
      font-size: px-to-rems(18);
    }
  }

  .examples-content {
    padding: 30px 0 20px 0;
    .examples-motto,
    .examples-bottom-motto {
      margin: 0;
      text-align: center;
      color: rgb(130, 134, 139);
      font-size: px-to-rems(18);
      margin-bottom: 40px;
    }

    .examples-wrapper {
      margin-bottom: 50px;
    }

    .example {
      display: block;
      padding: 20px 0;
      @include border-radius(3px);
      background: rgb(19, 22, 24);
      color: #58606b;
      width: 80%;
      text-align: center;
      @extend %center-block;

      img {
        margin-bottom: 10px;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.contribute {
  padding-bottom: 20px;

  .contribute-header {
    text-align: center;
    padding: 22px 0;
    letter-spacing: 3px; 
    border-bottom: 1px solid rgba(#333, 0.2);
    margin-bottom: 20px;

    .header {
      color: rgb(27, 27, 27);
      margin: 0;
      font-size: px-to-rems(18);
    }
  }

  .contribute-content {
    padding: 40px 0;
    .contribution {
      padding: 20px 30px;
      text-align: center;
    }
  }
}

//Documentation

.main-content-wrapper {
  padding: 10px;
}

.row .sidebar {
  background: #FCFCFC;
  height: 100%;
  padding-left: 0.9375rem;
  padding-top: px-to-rems(20);

  .navigation {
    li {
      a {
        display: block;
      }
      a:hover {
        background: darken(#FCFCFC, 5%);
        color: #333;
      }
    }
  }

  .header {
    text-transform: uppercase;
    font-size: px-to-rems(12);
    font-weight: bold;
    color: #666;
  }
}

//Docs: Getting started
.getting-started-descriptions {
  .header {
    color: darken($primary-color, 8%);
    font-weight: bold;
  }
}

.whats-included {
  h4 {
    font-weight: 600;
  }
}

.examples {
  h5 {
    font-weight: 600;
    margin-bottom: px-to-rems(6);
  }

}

.docs-examples {
  h5 {
    font-weight: 600;
    margin-bottom: px-to-rems(6);
  }

  small {
    font-size: px-to-rems(14);
  }

  .example-link {
    color: #222;
    &:hover {
      text-decoration: none;
    }
  }
  
}

//Footer
.footer {

  .navigation li a { font-weight: 100;}

  .navigation.inline {
    margin-bottom: 0px;
  }

  .furatto-description {
    .name-header {
      font-weight: bold;
      font-size: px-to-rems(20);
      letter-spacing: 1.5px;
    }
    p {
      line-height: 22px;
      font-weight: 300;
    }
  }

  h4, h5, li, p, .fa, a {
    color: #FFF; 
  }

  .want-more {
    background: darken($primary-color, 7%);
    text-align: center;
    padding: 20px 8px;


    a {
      color: #FFF;

      &:hover {
        color: #FFF;
        text-decoration: underline;
      }
    }
    
    .fa.fa-2x {
      margin-bottom: 20px;
    }

    ul {
      padding: 0;

      li {
        margin-bottom: 6px;
      }
    }

    p, li {
      font-size: px-to-rems(13);
    }
  }

  .general-info {
    background: rgb(48, 51, 56);
    padding: 80px 20px;
    text-align: center;

    .navigation.inline {
      display: inline-block;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.inside-the-box {
  p, li {
    font-size: px-to-rems(16);
    line-height: 28px;
  }
}

.old-docs {
  h4 {
    color: #333;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: px-to-rems(14);
    letter-spacing: 1px;
  }
}

.code {
  color: darken($primary-color, 5%);
  white-space: nowrap;
  font-weight: bold;
  @include border-radius(3px);
}

@import "../scss/furatto";
