/*Login styling*/

.login-form {
  width: 60%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .login-form {
    width: 90%;
  }
}

/*Blog styling*/

.blog {
  margin-top: 30px;
  padding: 0 50px;
}

.featured {
  color: #FFF;
  padding: 15px;
  font-weight: lighter;
}

.featured h5 {
  margin-bottom: 0;
  color: #FFF;
}

/*Dashboard*/

.dashboard {
  background: #222;
  overflow: hidden;
}

.dashboard-container {
  padding: 25px 12px;
  text-align: center;
  vertical-align: middle;
  height: 340px;
  position: relative;
  width: 100%;
}

.dashboard-container h1,
.dashboard-container h2 {
  color: #FFF;
}

.dashboard-container h1 {
  font-weight: 400;
  font-size: 33px;
}

.dashboard-container h2 {
  font-weight: 700;
  font-size: 76px;
}

.icon-background {
  width: 100% !important;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  font-size: 275px;
  top: 15px;
}

/*Landing*/

.landing-navbar {
  margin-bottom: 0;
}

.landing .jumbo-container {
  padding: 80px 0;
}

.landing .jumbo-container {
  color: #FFF;
  text-align: center;
}

.landing .jumbo-container h1 {
  font-size: 4rem;
  font-weight: 600;
}

.landing .jumbo-container h4 {
  font-weight: 400;
}

.landing .jumbo-container h1,
.landing .jumbo-container h4 {
  color: #FFF;
}

.landing .features {
  padding-top: 30px;
}

.landing .want-it {
  padding: 40px 0;
  margin-bottom: 50px;
}

.landing .footer {
  background: #2c3e50;
  color: #c4d2df;
  padding: 20px;
}
