//Base

//
//@variables
//

$body-background-color: #FFF !default;
$body-font-color: #333 !default;
$base-link-color: #0088cc !default;
$base-font-weight: 500 !default;

*, 
*:after, 
*:before { 
  @include box-sizing(border-box);
}

html, body {
  font-size: $base-font-size;
}

body {
  background: $body-background-color;
  color: $body-font-color;
  padding: 0;
  margin: 0;
  font-family: $base-font-family;
  line-height: $base-line-height;
}

a {
  color: $base-link-color;
}

img,
embed,
object {
  max-width: 100%;
  height: auto;
}

img,
object {
  height: 100%;
}

//Deprecated on IE9+
img {
  -ms-interpolation-mode: bicubic;
}

//Helpful classes
.clearfix {
  @include clearfix;
}

.hide {
  display: none;
}

.help-block {
  color: #666;
  display: block;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

hr {
  clear: both;
  margin: 1.25em 0 1.875em;
  height: 0;
  border: solid $hr-color;
  border-width: 1px 0 0;
}

/* Blockquote */
/*----------------------------*/
blockquote {
  color: $blockquote-color;
  font-style: italic;
  line-height: 1.8em;
  border-left: 5px solid $blockquote-border-color;
  padding-left: 1.5em
}
