/*------------------------------------*\
    $BASE
\*------------------------------------*/
/**
 * Basic site structural styling. 
 * 
 * Designed and built @kurenn  
 */

html {
  font-family: $font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

a {
  text-decoration: none;
  color: $link-color;
}

html, body {
  background-color: $bg-color;
}

body {
  padding-top: $navbar-height;
}

.with-left-navbar {
  padding-left: $vrt-navbar-width + 2em;
}

/* Jumbo Header */
/*--------------------------------------*/
.furatto-jumbo-header {
  min-height: 300px;
  width: 100%;
  display: block;
  text-align: center;
  color: $dark-black;
  padding-bottom: 15px;
  padding-top: 15px;

  .furatto-jumbo-container {
    width: 80%;
    margin: 0 auto;
  }

  .jumbo-header {
    font-size: 100px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 200;
  }

  .motto {
    font-size: 40px;
    font-weight: lighter;
    margin: 0 0 15px 0;
  }
}

/* Steps for definining furatto */
/*-----------------------------*/
.furatto-steps {
  text-align: center;
  width: 80%;
  margin: 0 auto;

  .furatto-steps-header {
    color: #232323;
    font-size: 50px;
    font-weight: lighter;
  }

  .step-header {
    color: #666;
  }

  .step-desc {
    color: #5a5a5a;
    width: 80%;
    margin: 0 auto;
  }
}

hr {
  border-top: 0px;
  border-bottom: 1px solid #CCC;
}

.link {
  color: $link-color !important;
}

.block {
  display: block; 
}

/* Furatto Headers */
/*-------------------------*/
.furatto-large-header {
  width: 100%;
  display: block;
  text-align: center;
  color: #232323;
  padding-bottom: 15px;
  padding-top: 15px;

  .furatto-large-container {
    width: 100%;
    margin: 0 auto;
  }

  .large-header {
    font-size: 3em;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    color: #4b4b4b;
  }

  .motto {
    font-size: 1.5em;
    font-weight: lighter;
    margin: 0 0 15px 0;
    color: #ccc;
  }
}

.container-center {
  width: $container-center-width;
  margin: 0 auto;
}

/* Blockquote */
/*----------------------------*/
.content-quote {
  color: #666;
  font-style: italic;
  line-height: 1.8em;
  border-left: 5px solid #ddd;
  padding-left: 1.5em
}

/* Helper classes */
/*----------------------------*/
.clearfix {
  @include clearfix;
}

.hide {
  display: none;
}

.furatto-block {
  @include clearfix;
}

//Floats
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}
