//Base

//
//@variables
//

$body-background-color: #FFF !default;
$body-font-color: #333 !default;
$base-link-color: #0088cc !default;
$base-font-weight: 500 !default;

//Text variations
$muted-text-color: #555 !default;
$warning-text-color: #d35400 !default;
$error-text-color: #c0392b !default;
$success-text-color: #27ae60 !default;

//Reset settings
*, 
*:after, 
*:before { 
  @include box-sizing(border-box);
}

html, body, .off-screen {
  -webkit-overflow-scrolling: touch;
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  font-size: $base-font-size;
  overflow-x: hidden;
}

body {
  background: $body-background-color;
  color: $body-font-color;
  padding: 0;
  margin: 0;
  font-family: $base-font-family;
  line-height: $base-line-height;
}

div, p {
  width: 100%; //Flexbox fix
}

img,
embed,
object {
  max-width: 100%;
  height: auto;
}

img,
object {
  height: 100%;
}


//Helpful classes
.clearfix {
  @include clearfix;
}

.hidden {
  display: none;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

//Text color variations 
.text-muted {
  color: $muted-text-color;
}

.text-warning {
  color: $warning-text-color;
}

.text-error {
  color: $error-text-color;
}

.text-success {
  color: $success-text-color;
}

//Text alignment
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

//Text variations
.text-uppercase {
  text-transform: uppercase;
}
