//Buttons

//
//@variables
//
@import "functions";

//Padding sizes for buttons
$button-default: 0.28571429rem 0.85714286rem !default;
$button-mini: 0 0.42857143rem !default;
$button-small: 0.14285714rem 0.71428571rem !default;
$button-large: 0.78571429rem 1.35714286rem !default;
$button-xlarge: 1.42857143rem 2.14285714rem !default;
$button-xxlarge: 1.42857143rem 3.57142857rem !default;

//Buttons disply style
$button-display: inline-block !default;

//Buttons general styles
$button-font-family: $base-font-family !default;
$button-font-color: #FFF !default;
$button-font-weight: 300 !default;
$button-font-default: px-to-rems(16) !default;
$button-font-mini: px-to-rems(11) !default;
$button-font-small: px-to-rems(12) !default;
$button-font-large: px-to-rems(18) !default;
$button-font-xlarge: px-to-rems(24) !default;
$button-font-xxlarge: px-to-rems(24) !default;

//Buttons variations
$button-radius: 3px !default;
$button-alpha-border: 1px solid #FFF !default;
$button-3d-border-width: 0.2rem !default;
$button-disabled-opacity: 0.65 !default;

//
//@mixin
//
// We use this mixin to create a default button base style
//

@mixin btn-base {
  display: $button-display;
  *display: inline;
  line-height: normal;
  font-weight: $button-font-weight;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  margin: 5px 0;
  outline: none;
  color: $button-font-color;
  vertical-align: middle;
  @include single-transition(all, 0.2s, ease-in-out);
  position: relative;

  [class^="icon-"], [class*=" icon-"] {
    margin-right: 5px;
  }

  &:hover {
    text-decoration: none;
  }

  &.btn-alpha {
    color: #FFF;
  }
}

//
//@mixin
//
// We use this mixin to add style to buttons and their states
//
// $background-color - Is the background color for the button to create

@mixin btn-style($background-color: $inverse) {

  background-color: $background-color;
  border: 1px solid darken($background-color, 5%);

  &:hover, &:focus {
    background: darken($background-color, 3%);
  }

  &.btn-disabled, &[disabled] {
    cursor: no-drop;
    @include opacity($button-disabled-opacity);
  }

  &.active, &:active {
    outline: 0;
  }

  &.btn-alpha {
    border: $button-alpha-border;
    background: rgba(0,0,0,0);
    &:hover {
      color: darken($background-color, 3%);
      background: #FFF;
    }
  }

  &.btn-3d {
    border-bottom: $button-3d-border-width solid darken($background-color, 15%);
    @include single-transition(all, 0.1s, ease-in-out);

    &:hover {
      border-bottom: ($button-3d-border-width - 0.1) solid darken($background-color, 10%);
      top: 1px;
    }
  }
}

//
//@mixin
//
// We use this mixin to set the button size
// $padding - The padding to give to the button. Default: $button-default
// $font-size - The font size for the button. Default: $button-font-default
//

@mixin btn-size($padding: $button-default, $font-size: $button-font-default) {
  padding: $padding;
  font-size: $font-size;
}

//
//@mixin
//
// We use this mixin to let the user create custom buttons
// $background-color - Is the background color for the button to create. Default: $inverse
// $padding - The padding to give to the button. Default: $button-default
// $font-size - The font size for the button. Default: $button-font-default
// $include-radius-style - Wheter or not to add the radius style on the custom button
// $include-block-style - Wheter or not to add the block size style on the custom button
// Example .custom-btn { @include btn($background-color: #1abc9c); }
//

@mixin btn($background-color: $inverse, $padding: $button-default, $font-size: $button-font-default, $include-radius-style: true, $include-block-style: true) {
  @include btn-base;
  @include btn-style($background-color);
  @include btn-size($padding, $font-size);
  
  @if $include-radius-style {
    &.radius {
      @include border-radius($button-border-radius);
    }
  }

  @if $include-block-style {
    &.btn-block {
      display: block;
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

//Button style definition
button, .btn {
  @include btn-base;
  @include btn-style;
  @include btn-size;

  //Button sizes
  //
  //Default size
  padding: $button-default;
  font-size: $button-font-default;

  //Custom sizes
  &.btn-large { @include btn-size($padding: $button-large, $font-size: $button-font-large); }
  &.btn-xlarge { @include btn-size($padding: $button-xlarge, $font-size: $button-font-xlarge); }
  &.btn-xxlarge { @include btn-size($padding: $button-xxlarge, $font-size: $button-font-xxlarge); }
  &.btn-small { @include btn-size($padding: $button-small, $font-size: $button-font-small); }
  &.btn-mini { @include btn-size($padding: $button-mini, $font-size: $button-font-mini); }

  &.btn-block {
    display: block;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  //Button styles
  &.btn-primary { @include btn-style($inverse); }
  &.btn-info { @include btn-style($blue); }
  &.btn-success { @include btn-style($green); }
  &.btn-danger { @include btn-style($red); }
  &.btn-warning { @include btn-style($orange); }
  &.btn-funky { @include btn-style($purple); }

  &.radius {
    @include border-radius($button-border-radius);
  }
}

/* Vertical separation */
/*----------------------*/
.btn-block + .btn-block {
  margin-top: 5px;
}

@media (max-width: $screen-xs) {
  .btn {
    display: block;
    width: 100%;
  }
}
