/*------------------------------------*\
    $CHECKBOX AND RADIO BUTTONS BLUE
\*------------------------------------*/
/**
 * Skins for radio buttons and checkboxes based on:
 * http://damirfoy.com/iCheck/
 * 
 * Designed and built @kurenn  
 */

/* iCheck plugin Flat skin, blue
----------------------------------- */
.checkbox,
.radiobutton {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(../img/icheck/flat.png) no-repeat;
    border: none;
    cursor: pointer;
}

.checkbox {
    background-position: 0 0;
}
    .checkbox.checked {
        background-position: -22px 0;
    }
    .checkbox.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .checkbox.checked.disabled {
        background-position: -66px 0;
    }

.radiobutton {
    background-position: -88px 0;
}
    .radiobutton.checked {
        background-position: -110px 0;
    }
    .radiobutton.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .radiobutton.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .checkbox,
    .radiobutton {
        background-image: url(../img/icheck/flat@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

/* Blue skin support */
.checkbox-blue,
.radiobutton-blue {
    background: url(../img/icheck/blue.png) no-repeat;
}

.radiobutton-blue {
    background-position: -88px 0;
}

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .checkbox-blue,
    .radiobutton-blue {
        background-image: url(../img/icheck/blue@2x.png);
    }
}

