/*------------------------------------*\
    $DASHBOARD
\*------------------------------------*/
/**
 * Basic dashboard structural styling. 
 * 
 * Designed and built @kurenn  
 */

.bg-primary {
  background: $dashboard-inverse-bg-color;
}

.bg-info {
  background: $dashboard-info-bg-color;
}

.bg-funky {
  background: $dashboard-funky-bg-color;
}

.bg-danger {
  background: $dashboard-danger-bg-color;
}
