/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
/**
 * Basic footer structural styling. 
 * 
 * Designed and built @kurenn  
 */

.footer {
  background: $footer-bg;
  color: $footer-text-color;
  font-size: $base-font-size;
  font-weight: lighter;
  line-height: $base-line-height;
  margin-top: 50px;
  height: $footer-height;

  .copyright {
    margin: 0;
    padding: (($footer-height - $base-line-height) / 2) 20px (($footer-height - $base-line-height) / 2);
  }

  a {
    color: $footer-text-color;
  }

  .footer-wrapper {
    width: 80%;
    margin: 0 auto; 

    .hrz-nav {
      margin: 0;

      li {
        display: inline-block;
        padding: (($footer-height - $base-line-height) / 2) 10px (($footer-height - $base-line-height) / 2);
        a {
          color: $footer-text-color;
        }
      }
    }
  }
}
