//Images

//
//@variables
//

//
//@mixin
//
@mixin img-responsive($display: inline-block) {
  max-width: 100%;
  height: auto;
  display: $display;
}

//General img styling
//Deprecated on IE9+
img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;

  //Images responsive styling
  &.img-responsive {
    @include img-responsive;
  }

  //Circular images
  &.img-circular {
    @include border-radius(50%);
  }

  //Well images
  &.img-radius {
    @include border-radius(2%);
  }

  //Images with borders
  &.img-polaroid {
    padding: 4px;
    border: 1px solid rgba(#000, 0.2);
    background: #FFF;
  }

}

//iOS fix for rounded and polaroid images
.img-frame {
  display: inline-block;
  border: 1px solid #ccc;

  img {
    margin: 5px;
  }

  &.img-circular {
    img {
      @extend .img-circular;
    }
  }
}
