//Images

//
//@variables
//

//Images variations
$img-radius: 0.3rem;
$img-round: 50rem;

$img-polaroid-padding: 0.28571429rem;
$img-polaroid-background: #FFF;
$img-polaroid-border-width: 0.07142857rem;
$img-polaroid-border-style: solid;
$img-polaroid-border-color: rgba(#000, 0.2);

//
//@mixin
//
@mixin img-responsive($display: inline-block) {
  max-width: 100%;
  height: auto;
  display: $display;
}

//General img styling
//Deprecated on IE9+
img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;

  //Images responsive styling
  &.img-responsive {
    @include img-responsive;
  }

  //Circular images
  &.img-circular {
    @include border-radius($img-round);
  }

  //Well images
  &.img-radius {
    @include border-radius($img-radius);
  }

  //Images with borders
  &.img-polaroid {
    padding: $img-polaroid-padding;
    border: $img-polaroid-border-width $img-polaroid-border-style $img-polaroid-border-color;
    background: $img-polaroid-background;
  }

}

//iOS fix for rounded and polaroid images
.img-frame {
  display: inline-block;
  border: 1px solid #ccc;

  img {
    margin: 5px;
  }

  &.img-circular {
    img {
      @extend .img-circular;
    }
  }
}
