/*------------------------------------*\
    $LABELS
\*------------------------------------*/
/**
 * Basic button structural styling. 
 * 
 * Designed and built @kurenn  
 */

.label, .badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: $base-font-size * .846;
  font-weight: bold;
  line-height: 14px;
  color: #FFF;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0,0,0,.20);
  background: $gray;
}

//Badges border radius
.badge {
  @include border-radius(50%);
  padding: 5px 8px;
}

//Labels and badges colors definitions
@each $color in $colors {
  .label-#{nth($color, 1)}, .badge-#{nth($color, 1)} {
    background-color: nth($color, 2);
  }
}

a {
  &.label:hover,
  &.label:focus {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
  }
}
