/*------------------------------------*\
    $LEFT NAVBAR
\*------------------------------------*/
/**
 * Basic button structural styling. 
 * 
 * Designed and built @kurenn  
 */

#jPanelMenu-menu {

  background-color: $navbar-bg-color;

  // Nav style
  .nav {
    overflow: hidden;
    padding-left: 0;
    color: $navbar-text;
    font-size: $base-font-size;
    margin-top: 0px;
    float: none;
    
    [class^="icon-"], [class*=" icon-"] {
      margin-right: 5px;
    }

    .dropdown-toggle {
      .caret {
        display: none;
      }
    }

    div.dropdown-menu {
      padding: 0;
      width: 100%;
      display: block;

      input[type="text"],
      input[type="password"],
      input[type="datetime"],
      input[type="datetime-local"],
      input[type="date"],
      input[type="month"],
      input[type="time"],
      input[type="week"],
      input[type="number"],
      input[type="email"],
      input[type="url"],
      input[type="search"],
      input[type="tel"],
      input[type="color"] {
        width: 94%;
      }
    }

    .dropdown-menu {
      position: static;
      background: none;
      border: none;
      @include box-shadow(0 0px 0px $navbar-bg-color);

      * {
        color: #eaeaea;
      }

      li.divider {
        border-bottom: 1px solid #CCC; 
      }

      li {
        a {
          &:hover {
            background: none;
          }
        }
      }
    }
  }


  //list items
  .nav > li {
    padding: 9px 10px;
  }

  // Active nav items
  .nav > .active,
  .nav > .active,
  .nav > .active {
    color: $navbar-link-color-active;
    text-decoration: none;
    border-left: 2px solid $green;
    padding-left: 7px;

    &:before {
      content: ' ';
      position: relative;
      width: 0;
      height: 0px;
    }
  }

  //Links
  .nav > li > a {
    text-decoration: none;
    color: $navbar-text;
  }
  
  //Brand
  .nav > li > a.brand {
    font-size: 20px;
  }

  //Give a bigger separation for navbar
  .nav > li:first-child {
    border-bottom: 10px solid $navbar-border;
  }

  //Divider
  .nav > li.divider-vertical {
    height: 1px;
    width: 100%;
    border-bottom: 1px solid $navbar-border;
    border-left: none;
    margin: 0;
    padding: 0;
  }

  //Form
  .search-navbar-form {
    float: none;
    margin-left: 9px;
  }

}
