/*------------------------------------*\
    $NAV
\*------------------------------------*/
/**
 * Basic button structural styling. 
 * 
 * Designed and built @kurenn  
 */

.nav {
  margin-left: 0;
  margin-bottom: $base-line-height;
  list-style: none;
}

// Make links block level
.nav > li > a {
  display: block;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
}

// Prevent IE8 from misplacing imgs
// See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
.nav > li > a > img {
  max-width: none;
}

// Redeclare pull classes because of specifity
.nav > .pull-right {
  float: right;
}

// DISABLED STATES
// ---------------

// Gray out text
.nav > .disabled > a {
  color: $light-gray;
}
// Nuke hover/focus effects
.nav > .disabled > a:hover,
.nav > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  cursor: default;
}

// NAV LIST
// --------

.nav-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
}
.nav-list > li > a,
.nav-list .nav-header {
  margin-left:  -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.nav-list > li > a {
  padding: 3px 15px;
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  background-color: $blue;
}
.nav-list [class^="icon_"],
.nav-list [class*=" icon_"] {
  margin-right: 2px;
}
// Dividers (basically an hr) within the dropdown
.nav-list .divider {
  @include nav-divider();
}

.hrz-nav {
  margin: 10px 0px 20px 0px;

  li {
    display: inline;
    padding: 0 10px;
    color: #232323;

    a { 
      color: #232323;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .disabled {
    color: $gray;
  }
}

