/*------------------------------------*\
    $RESPONSIVE - 767
\*------------------------------------*/
/**
 * Responsive structural styling based on bootstrap. 
 * http://twitter.github.io/bootstrap/
 * 
 * Designed and built @kurenn  
 */

@media (max-width: 767px) {

  .avgrund-popin {
    width: 80% !important;
    margin-left: -40%;
    left: 48%;
  }

  // TYPOGRAPHY
  // ----------
  // Reset horizontal dl
  .dl-horizontal {
    dt {
      float: none;
      clear: none;
      width: auto;
      text-align: left;
    }
    dd {
      margin-left: 0;
    }
  }

  // GRID & CONTAINERS
  // -----------------
  // Fluid rows
  .row {
    width: 100%;
  }
  // Make all grid-sized elements block level again
  [class*="span"],
  .uneditable-input[class*="span"], // Makes uneditable inputs full-width when using grid sizing
  .row [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    @include box-sizing(border-box);
  }
  .span12,
  .row .span12 {
    width: 100%;
    @include box-sizing(border-box);
  }
  .row [class*="offset"]:first-child {
    margin-left: 0;
  }

  .horizontal-form .furatto-controls {
    label {
      text-align: left;
    }
  }

  .horizontal-form .furatto-actions {
    margin-left: 0;
  }
}
