/*------------------------------------*\
    $RESPONSIVE NAVBAR
\*------------------------------------*/
/**
 * Responsive navbar strcucture. 
 * 
 * Designed and built @kurenn  
 */

//Tablets and below
//------------------------------------

@media (max-width: $nav-bar-collapse-width) {

  .panels {
    display: block;
  }

  .panel-content {
    padding-top: 0;
  }

  /*Unfix top navbar*/
  /*Remove any padding from the body */
  
  body {
    padding: 0px;
  }

  .navbar {
    .menu-trigger {
      float: left;
      display: block;
      /*width: 18px;*/
      /*padding: 7px 10px;*/
      margin-left: 5px;
      margin-right: 5px;
      color: $navbar-text;
      font-size: 50px;
      line-height: $base-line-height;
      padding-top: $base-line-height - 5;
      margin-bottom: 7px; /*compensate the navbar height*/
    }
  }

  .navbar {
    .navbar-inner {
      padding-left: 0px;
    }
  }

  //Unfix the navbar
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: static;
  }

  .navbar-fixed-bottom {
    margin-top: $base-line-height;
  }

  // Account for brand name
  .navbar .nav .brand {
    display: block;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    /*margin: 0 0 0 -5px;*/
  }

  // COLLAPSIBLE NAVBAR
  // ------------------
  // Nav collapse clears brand
  .nav-collapse {
    clear: both;
  }
  // Block-level the nav
  .nav-collapse .nav {
    float: none;
    margin: 0 0 ($base-line-height / 2);
    display: none;
  }
  .nav-collapse .search-navbar-form {
    display: none;
  }
  .nav-collapse .nav > li {
    float: none;
  }

  .nav-collapse .nav > li > a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > .divider-vertical {
    display: none;
  }
  .nav-collapse .nav .nav-header {
    color: $navbar-text;
    text-shadow: none;
  }
  // Nav and dropdown links in navbar
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: $navbar-text;
    /*.border-radius(3px);*/
  }

  // Buttons
  .nav-collapse .btn {
    padding: 4px 10px 4px;
    font-weight: normal;
    /*.border-radius(@baseBorderRadius);*/
  }
  .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .nav > li > a:focus,
  .nav-collapse .dropdown-menu a:hover,
  .nav-collapse .dropdown-menu a:focus {
    background-color: $navbar-bg-color;
  }

  .navbar-inverse .nav-collapse .nav > li > a,
  .navbar-inverse .nav-collapse .dropdown-menu a {
    /*color: @navbarInverseLinkColor;*/
  }
  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .nav > li > a:focus,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:focus {
    /*background-color: @navbarInverseBackground;*/
  }
  // Buttons in the navbar
  .nav-collapse.in .btn-group {
    margin-top: 5px;
    padding: 0;
  }

  // Dropdowns in the navbar
  .nav-collapse .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    float: none;
    display: none;
    max-width: none;
    margin: 0 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    /*.border-radius(0);*/
    /*.box-shadow(none);*/
  }
  .nav-collapse .open > .dropdown-menu { 
    display: block; 
  }

  .nav-collapse .dropdown-menu:before,
  .nav-collapse .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .dropdown-menu .divider {
    display: none;
  }
  .nav-collapse .nav > li > .dropdown-menu {
    &:before,
    &:after {
      display: none;
    }
  }
  
 //STATIC NAVBAR
 //--------------------------------------
 .navbar-static .navbar-inner {
    padding-left:  10px;
    padding-right: 10px;
  }
  
}

.navbar-inverse {
  [data-toggle="panel"] {
    color: $navbar-inverse-text;
  }
}

@media (min-width: $nav-bar-collapse-width-desktop) {

  // Required to make the collapsing navbar work on regular desktops
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }

}
