.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.tooltip.top {
  margin-top: -3px;
}

.tooltip.right {
  margin-left: 3px;
}

.tooltip.bottom {
  margin-top: 3px;
}

.tooltip.left {
  margin-left: -3px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #000000;
  border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #000000;
  border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #000000;
  border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #000000;
  border-width: 0 5px 5px;
}

.tooltip {
  font-size: 13px;
  &.in {
    @include opacity(0.9);
  }
  &.top {
    padding-bottom: 9px;
    .tooltip-arrow {
      border-top-color: $inverse;
      border-width: 9px 9px 0;
      bottom: 0;
      margin-left: -9px;
    }
  }
  &.right {
    .tooltip-arrow {
      border-right-color: $inverse;
      border-width: 9px 9px 9px 0;
      margin-top: -9px;
      left: -3px;
    }
  }
  &.bottom {
    padding-top: 8px;
    .tooltip-arrow {
      border-bottom-color: $inverse;
      border-width: 0 9px 9px;
      margin-left: -9px;
      top: -1px;
    }
  }
  &.left {
    .tooltip-arrow {
      border-left-color: $inverse;
      border-width: 9px 0px 9px 9px;
      margin-top: -9px;
      right: -3px;
    }
  }
}

.tooltip-inner {
  background-color: $inverse;
  line-height: 18px;
  padding: 12px 5px;
  text-align: center;
  width: 180px;
  @include border-radius(6px);
}

