/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 * Variables for manage the different styles
 * 
 * Designed and built @kurenn and @eldelentes  
 */

// Body
$bg-color: #FFF !default;

// Fonts
$font-family: 'Lato', 'Helvetica Neue' !default;
$base-font-size: 16px !default;
$base-line-height: 20px !default;
$base-font-weight: 500 !default;
$base-font-color: #333 !default;

// Border
$base-radius: 2px !default;

// Colors

// Reds
$red: #e74c3c !default;
$dark-red: #c0392b !default;

// Hipsters
$info: #1ABC9C !default;
$dark-info: #16A085 !default;

$aqua: #00CA74;
$dark-aqua: #03AE72;

// Inverse
$dark-inverse: #242730 !default;
$inverse: #2E323E !default;

// Blues
$dark-blue: #2980b9 !default;
$blue: #3498db !default;

// Grays
$dark-gray: #7F8C8D !default;
$gray: #95a5a6 !default;
$light-gray: #ecf0f1 !default;

// Purples
$purple: #9B59B6 !default;
$dark-purple: #8E44AD !default;

// Greens
$green: #2ecc71 !default;
$dark-green: #27ae60 !default;

// Yellows
$yellow: #FFD02C !default;
$dark-yellow: #DCB334 !default;

// Orange
$dark-orange: #d35400 !default;
$orange: #e67e22 !default;

// Blacks
$black: #191C20 !default;
$dark-black: #262626 !default;

// White
$white: #FFF !default;

// Muted
$muted-color: #555 !default;

// Light
$light-color: #6F6F6F;

// All colors
$colors: info $blue $dark-blue, // class name, bg color, hover bg color
         success $green $dark-green,
         danger $red $dark-red,
         warning $orange $dark-orange,
         primary $inverse $dark-inverse,
         funky $purple $dark-purple,
         highlight $aqua $dark-aqua;

// Jumbo
$jumbo-container-bg-color: #3498d9;
$jumbo-container-bg-gradient: #67b2e3;

// Buttons
$font-size-large: $base-font-size * 1.25 !default; // ~18px
$font-size-xlarge: $base-font-size * 1.50 !default; // ~24px
$font-size-small: $base-font-size * 0.85 !default; // ~12px
$font-size-mini:  $base-font-size * 0.75 !default; // ~11px

$padding-large: 11px 19px !default; // 44px
$padding-small:  2px 10px !default;  // 26px
$padding-mini:   0 6px !default;   // 22px
$padding-xlarge: 20px 30px !default; // 44px
$padding-xxlarge: 20px 50px !default; // 44px

// HR
$hr-color: #DDD;

// BLOCKQUOTE
$blockquote-color: #777;
$blockquote-border-color: #DDD;


// Alerts
$warning-alert-color: $orange !default;
$warning-header-color: $dark-orange !default;

$success-alert-color: $dark-green !default;
$success-header-color: $dark-green !default;

$info-alert-color: $dark-blue !default;
$info-header-color: $dark-blue !default;

$danger-alert-color: $dark-red !default;
$danger-header-color: $dark-red !default;

// Navbar 
$navbar-height: 51px !default;
$navbar-bg-color: #2d313d !default;
$navbar-border: #38393a !default;
$navbar-text: #eaeaea !default;
$navbar-brand-color: $navbar-text !default;
$navbar-link-color-active: #FFF !default;
$navbar-inverse-bg-color: #FFF !default;
$navbar-inverse-text: #0088cc !default; 

// Panel
$panel-inverse-bg: $white !default;
$panel-inverse-active-color: #555 !default;
$panel-inverse-active-bg: #EFEFEF !default;
$panel-inverse-link-color: #0088cc !default;


// Vertical Navbar
$vrt-navbar-background: #232323 !default;
$vrt-navbar-width: 4em !default;
$vrt-navbar-height: $vrt-navbar-width !default;
$vrt-navbar-lineheight: 2em !default;
$vrt-navbar-border: #000 !default;
$vrt-navbar-links-bg: $blue !default;
$vrt-navbar-links-color: #FFF !default;
$vrt-navbar-li-hover: $blue !default;

// Inputs
$input-color: #34495e !default;
$input-border-radius: 4px !default;
$input-bg: #FFF !default;
$input-border-color: #CCC !default;
$input-focus-color: $blue !default;

// Tables
$table-color: #FFF !default;
$table-header-primary: $dark-blue !default;
$table-border-color: #d2d2d2 !default;
$table-striped-color: #f9f9f9 !default;

// Responsive Navbar
$nav-bar-collapse-width: 979px !default;
$nav-bar-collapse-width-desktop: $nav-bar-collapse-width + 1 !default;

// Images
$img-border: $dark-green !default;

// Select
$select-bg: $dark-info !default;
$select-text-color: #FFF !default;
$select-options-bg: $inverse;

// Checkbox and radio buttons
$ch-rb-color: $dark-info !default;

// Forms
$input-height: $base-line-height + 10px !default; // base line-height + 8px vertical padding + 2px top/bottom border

// Dashboard
$dashboard-primary-bg-color: $inverse;
$dashboard-info-bg-color: $blue;
$dashboard-funky-bg-color: $purple;
$dashboard-danger-bg-color: $red;
$dashboard-warning-bg-color: $orange;
$dashboard-success-bg-color: $green;
$dashboard-inverse-bg-color: #34495e;

// Footer
$footer-text-color: #232323 !default;
$footer-anchor-color: #777 !default;
$footer-height: 80px !default;
$footer-anchor-size: 13px !default;

// Icons
$icon-base-color: $dark-inverse !default;
$icon-base-inverse-color: #FFF !default;
$icon-small-size: 2em !default;
$icon-medium-size: 4em !default;
$icon-large-size: 6em !default;
$icon-xlarge-size: 8em !default;
$icon-xxlarge-size: 10em !default;

// Links
$link-color: #0088cc !default;

// Headings
$headings-color: #222 !default;


// Pagination
$pagination-color: desaturate(lighten($inverse, 57.5%), 17%) !default;

// Toolbars
$toolbar-bg-color: #232323 !default;

// Dropdown
$zindex-dropdown: 1000 !default;
$dropdown-bg: $white !default;
$dropdown-border: rgba(0,0,0,0.2) !default;
$dropdown-link-color: $dark-gray !default;
$dropdown-link-color-hover: $white !default;
$dropdown-link-color-hover-bg: lighten($blue, 10%) !default;

// Code
$code-bg: #f7f7f9 !default;
$code-font-size: 0.8em !default;
$code-comment-color: #999;
$code-tag-color: #2f6f9f;
$code-css-property-color: #333;
$code-color: #d44950;

// Calendar
$calendar-highlight-color: #b1dcfb !default;
$calendar-highlighted-color: #0089ec !default;


// Container center
$container-center-width: 90% !default;

// Modal
$modal-max-width: 630px;
$modal-min-width: 320px;

// Responsive widths

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

// Font Awesome Icons

$FontAwesomePath: "../fonts/fontawesome" !default;
$FontAwesomeVersion: "3.2.1" !default;
$borderColor: #eeeeee !default;
$iconMuted: #eeeeee !default;
$iconLight: white !default;
$iconDark: #333333 !default; //1d1d1b
$icons-li-width: (30em/14) !default;

$glass: "\f000";
$music: "\f001";
$search: "\f002";
$envelope-alt: "\f003";
$heart: "\f004";
$star: "\f005";
$star-empty: "\f006";
$user: "\f007";
$film: "\f008";
$th-large: "\f009";
$th: "\f00a";
$th-list: "\f00b";
$ok: "\f00c";
$remove: "\f00d";
$zoom-in: "\f00e";
$zoom-out: "\f010";
$off: "\f011";
$signal: "\f012";
$cog: "\f013";
$trash: "\f014";
$home: "\f015";
$file-alt: "\f016";
$time: "\f017";
$road: "\f018";
$download-alt: "\f019";
$download: "\f01a";
$upload: "\f01b";
$inbox: "\f01c";
$play-circle: "\f01d";
$repeat: "\f01e";
$refresh: "\f021";
$list-alt: "\f022";
$lock: "\f023";
$flag: "\f024";
$headphones: "\f025";
$volume-off: "\f026";
$volume-down: "\f027";
$volume-up: "\f028";
$qrcode: "\f029";
$barcode: "\f02a";
$tag: "\f02b";
$tags: "\f02c";
$book: "\f02d";
$bookmark: "\f02e";
$print: "\f02f";
$camera: "\f030";
$font: "\f031";
$bold: "\f032";
$italic: "\f033";
$text-height: "\f034";
$text-width: "\f035";
$align-left: "\f036";
$align-center: "\f037";
$align-right: "\f038";
$align-justify: "\f039";
$list: "\f03a";
$indent-left: "\f03b";
$indent-right: "\f03c";
$facetime-video: "\f03d";
$picture: "\f03e";
$pencil: "\f040";
$map-marker: "\f041";
$adjust: "\f042";
$tint: "\f043";
$edit: "\f044";
$share: "\f045";
$check: "\f046";
$move: "\f047";
$step-backward: "\f048";
$fast-backward: "\f049";
$backward: "\f04a";
$play: "\f04b";
$pause: "\f04c";
$stop: "\f04d";
$forward: "\f04e";
$fast-forward: "\f050";
$step-forward: "\f051";
$eject: "\f052";
$chevron-left: "\f053";
$chevron-right: "\f054";
$plus-sign: "\f055";
$minus-sign: "\f056";
$remove-sign: "\f057";
$ok-sign: "\f058";
$question-sign: "\f059";
$info-sign: "\f05a";
$screenshot: "\f05b";
$remove-circle: "\f05c";
$ok-circle: "\f05d";
$ban-circle: "\f05e";
$arrow-left: "\f060";
$arrow-right: "\f061";
$arrow-up: "\f062";
$arrow-down: "\f063";
$share-alt: "\f064";
$resize-full: "\f065";
$resize-small: "\f066";
$plus: "\f067";
$minus: "\f068";
$asterisk: "\f069";
$exclamation-sign: "\f06a";
$gift: "\f06b";
$leaf: "\f06c";
$fire: "\f06d";
$eye-open: "\f06e";
$eye-close: "\f070";
$warning-sign: "\f071";
$plane: "\f072";
$calendar: "\f073";
$random: "\f074";
$comment: "\f075";
$magnet: "\f076";
$chevron-up: "\f077";
$chevron-down: "\f078";
$retweet: "\f079";
$shopping-cart: "\f07a";
$folder-close: "\f07b";
$folder-open: "\f07c";
$resize-vertical: "\f07d";
$resize-horizontal: "\f07e";
$bar-chart: "\f080";
$twitter-sign: "\f081";
$facebook-sign: "\f082";
$camera-retro: "\f083";
$key: "\f084";
$cogs: "\f085";
$comments: "\f086";
$thumbs-up-alt: "\f087";
$thumbs-down-alt: "\f088";
$star-half: "\f089";
$heart-empty: "\f08a";
$signout: "\f08b";
$linkedin-sign: "\f08c";
$pushpin: "\f08d";
$external-link: "\f08e";
$signin: "\f090";
$trophy: "\f091";
$github-sign: "\f092";
$upload-alt: "\f093";
$lemon: "\f094";
$phone: "\f095";
$check-empty: "\f096";
$bookmark-empty: "\f097";
$phone-sign: "\f098";
$twitter: "\f099";
$facebook: "\f09a";
$github: "\f09b";
$unlock: "\f09c";
$credit-card: "\f09d";
$rss: "\f09e";
$hdd: "\f0a0";
$bullhorn: "\f0a1";
$bell: "\f0a2";
$certificate: "\f0a3";
$hand-right: "\f0a4";
$hand-left: "\f0a5";
$hand-up: "\f0a6";
$hand-down: "\f0a7";
$circle-arrow-left: "\f0a8";
$circle-arrow-right: "\f0a9";
$circle-arrow-up: "\f0aa";
$circle-arrow-down: "\f0ab";
$globe: "\f0ac";
$wrench: "\f0ad";
$tasks: "\f0ae";
$filter: "\f0b0";
$briefcase: "\f0b1";
$fullscreen: "\f0b2";
$group: "\f0c0";
$link: "\f0c1";
$cloud: "\f0c2";
$beaker: "\f0c3";
$cut: "\f0c4";
$copy: "\f0c5";
$paper-clip: "\f0c6";
$save: "\f0c7";
$sign-blank: "\f0c8";
$reorder: "\f0c9";
$list-ul: "\f0ca";
$list-ol: "\f0cb";
$strikethrough: "\f0cc";
$underline: "\f0cd";
$table: "\f0ce";
$magic: "\f0d0";
$truck: "\f0d1";
$pinterest: "\f0d2";
$pinterest-sign: "\f0d3";
$google-plus-sign: "\f0d4";
$google-plus: "\f0d5";
$money: "\f0d6";
$caret-down: "\f0d7";
$caret-up: "\f0d8";
$caret-left: "\f0d9";
$caret-right: "\f0da";
$columns: "\f0db";
$sort: "\f0dc";
$sort-down: "\f0dd";
$sort-up: "\f0de";
$envelope: "\f0e0";
$linkedin: "\f0e1";
$undo: "\f0e2";
$legal: "\f0e3";
$dashboard: "\f0e4";
$comment-alt: "\f0e5";
$comments-alt: "\f0e6";
$bolt: "\f0e7";
$sitemap: "\f0e8";
$umbrella: "\f0e9";
$paste: "\f0ea";
$lightbulb: "\f0eb";
$exchange: "\f0ec";
$cloud-download: "\f0ed";
$cloud-upload: "\f0ee";
$user-md: "\f0f0";
$stethoscope: "\f0f1";
$suitcase: "\f0f2";
$bell-alt: "\f0f3";
$coffee: "\f0f4";
$food: "\f0f5";
$file-text-alt: "\f0f6";
$building: "\f0f7";
$hospital: "\f0f8";
$ambulance: "\f0f9";
$medkit: "\f0fa";
$fighter-jet: "\f0fb";
$beer: "\f0fc";
$h-sign: "\f0fd";
$plus-sign-alt: "\f0fe";
$double-angle-left: "\f100";
$double-angle-right: "\f101";
$double-angle-up: "\f102";
$double-angle-down: "\f103";
$angle-left: "\f104";
$angle-right: "\f105";
$angle-up: "\f106";
$angle-down: "\f107";
$desktop: "\f108";
$laptop: "\f109";
$tablet: "\f10a";
$mobile-phone: "\f10b";
$circle-blank: "\f10c";
$quote-left: "\f10d";
$quote-right: "\f10e";
$spinner: "\f110";
$circle: "\f111";
$reply: "\f112";
$github-alt: "\f113";
$folder-close-alt: "\f114";
$folder-open-alt: "\f115";
$expand-alt: "\f116";
$collapse-alt: "\f117";
$smile: "\f118";
$frown: "\f119";
$meh: "\f11a";
$gamepad: "\f11b";
$keyboard: "\f11c";
$flag-alt: "\f11d";
$flag-checkered: "\f11e";
$terminal: "\f120";
$code: "\f121";
$reply-all: "\f122";
$mail-reply-all: "\f122";
$star-half-empty: "\f123";
$location-arrow: "\f124";
$crop: "\f125";
$code-fork: "\f126";
$unlink: "\f127";
$question: "\f128";
$info: "\f129";
$exclamation: "\f12a";
$superscript: "\f12b";
$subscript: "\f12c";
$eraser: "\f12d";
$puzzle-piece: "\f12e";
$microphone: "\f130";
$microphone-off: "\f131";
$shield: "\f132";
$calendar-empty: "\f133";
$fire-extinguisher: "\f134";
$rocket: "\f135";
$maxcdn: "\f136";
$chevron-sign-left: "\f137";
$chevron-sign-right: "\f138";
$chevron-sign-up: "\f139";
$chevron-sign-down: "\f13a";
$html5: "\f13b";
$css3: "\f13c";
$anchor: "\f13d";
$unlock-alt: "\f13e";
$bullseye: "\f140";
$ellipsis-horizontal: "\f141";
$ellipsis-vertical: "\f142";
$rss-sign: "\f143";
$play-sign: "\f144";
$ticket: "\f145";
$minus-sign-alt: "\f146";
$check-minus: "\f147";
$level-up: "\f148";
$level-down: "\f149";
$check-sign: "\f14a";
$edit-sign: "\f14b";
$external-link-sign: "\f14c";
$share-sign: "\f14d";
$compass: "\f14e";
$collapse: "\f150";
$collapse-top: "\f151";
$expand: "\f152";
$eur: "\f153";
$gbp: "\f154";
$usd: "\f155";
$inr: "\f156";
$jpy: "\f157";
$cny: "\f158";
$krw: "\f159";
$btc: "\f15a";
$file: "\f15b";
$file-text: "\f15c";
$sort-by-alphabet: "\f15d";
$sort-by-alphabet-alt: "\f15e";
$sort-by-attributes: "\f160";
$sort-by-attributes-alt: "\f161";
$sort-by-order: "\f162";
$sort-by-order-alt: "\f163";
$thumbs-up: "\f164";
$thumbs-down: "\f165";
$youtube-sign: "\f166";
$youtube: "\f167";
$xing: "\f168";
$xing-sign: "\f169";
$youtube-play: "\f16a";
$dropbox: "\f16b";
$stackexchange: "\f16c";
$instagram: "\f16d";
$flickr: "\f16e";
$adn: "\f170";
$bitbucket: "\f171";
$bitbucket-sign: "\f172";
$tumblr: "\f173";
$tumblr-sign: "\f174";
$long-arrow-down: "\f175";
$long-arrow-up: "\f176";
$long-arrow-left: "\f177";
$long-arrow-right: "\f178";
$apple: "\f179";
$windows: "\f17a";
$android: "\f17b";
$linux: "\f17c";
$dribbble: "\f17d";
$skype: "\f17e";
$foursquare: "\f180";
$trello: "\f181";
$female: "\f182";
$male: "\f183";
$gittip: "\f184";
$sun: "\f185";
$moon: "\f186";
$archive: "\f187";
$bug: "\f188";
$vk: "\f189";
$weibo: "\f18a";
$renren: "\f18b";
