/*------------------------------------*\
    $VERTICAL NAVBAR
\*------------------------------------*/
/**
 * Basic button structural styling. 
 * 
 * Designed and built @kurenn  
 */

.vrt-navbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: $vrt-navbar-background;

    li {
      display: block;
      /*width: $vrt-navbar-width;*/
      /*height: $vrt-navbar-height;*/
      text-align: center;
      padding: 13px 16px;

      [class*="icon"], [class^="icon-"], [class*="icon-"] {
        font-size: 20px;
        text-align: center;

        &:before {
          color: #999;
        }
      } 
      a {
        text-transform: uppercase;
        font-size: 10px;
        color: #999;
        border-bottom: 1px solid rgba($vrt-navbar-border, 0.05);
        @include single-transition(background, 0.1s, ease-in-out);
      }
    }
}

.vrt-navbar li:hover {
    background: $vrt-navbar-li-hover;

    a, [class*='icon'] {
      color: $vrt-navbar-links-color;
    }
}

/* class for current item */
.vrt-navbar li.active {
    border-right: 3px solid $vrt-navbar-links-bg;
}

.secundary-navbar {
  top: $navbar-height + 7;
}
