/* iCheck plugin Flat skin, aero
----------------------------------- */
/* line 4, ../../../scss/furatto/icheck/_aero.scss */
.icheckbox_flat-aero,
.iradio_flat-aero {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(aero.png) no-repeat;
  border: none;
  cursor: pointer; }

/* line 15, ../../../scss/furatto/icheck/_aero.scss */
.icheckbox_flat-aero {
  background-position: 0 0; }

/* line 18, ../../../scss/furatto/icheck/_aero.scss */
.icheckbox_flat-aero.checked {
  background-position: -22px 0; }

/* line 21, ../../../scss/furatto/icheck/_aero.scss */
.icheckbox_flat-aero.disabled {
  background-position: -44px 0;
  cursor: default; }

/* line 25, ../../../scss/furatto/icheck/_aero.scss */
.icheckbox_flat-aero.checked.disabled {
  background-position: -66px 0; }

/* line 29, ../../../scss/furatto/icheck/_aero.scss */
.iradio_flat-aero {
  background-position: -88px 0; }

/* line 32, ../../../scss/furatto/icheck/_aero.scss */
.iradio_flat-aero.checked {
  background-position: -110px 0; }

/* line 35, ../../../scss/furatto/icheck/_aero.scss */
.iradio_flat-aero.disabled {
  background-position: -132px 0;
  cursor: default; }

/* line 39, ../../../scss/furatto/icheck/_aero.scss */
.iradio_flat-aero.checked.disabled {
  background-position: -154px 0; }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 49, ../../../scss/furatto/icheck/_aero.scss */
  .icheckbox_flat-aero,
  .iradio_flat-aero {
    background-image: url(aero@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px; } }
/* iCheck plugin Flat skin, blue
----------------------------------- */
/* line 4, ../../../scss/furatto/icheck/_blue.scss */
.icheckbox_flat-blue,
.iradio_flat-blue {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(../img/icheck/blue.png) no-repeat;
  border: none;
  cursor: pointer; }

/* line 15, ../../../scss/furatto/icheck/_blue.scss */
.icheckbox_flat-blue {
  background-position: 0 0; }

/* line 18, ../../../scss/furatto/icheck/_blue.scss */
.icheckbox_flat-blue.checked {
  background-position: -22px 0; }

/* line 21, ../../../scss/furatto/icheck/_blue.scss */
.icheckbox_flat-blue.disabled {
  background-position: -44px 0;
  cursor: default; }

/* line 25, ../../../scss/furatto/icheck/_blue.scss */
.icheckbox_flat-blue.checked.disabled {
  background-position: -66px 0; }

/* line 29, ../../../scss/furatto/icheck/_blue.scss */
.iradio_flat-blue {
  background-position: -88px 0; }

/* line 32, ../../../scss/furatto/icheck/_blue.scss */
.iradio_flat-blue.checked {
  background-position: -110px 0; }

/* line 35, ../../../scss/furatto/icheck/_blue.scss */
.iradio_flat-blue.disabled {
  background-position: -132px 0;
  cursor: default; }

/* line 39, ../../../scss/furatto/icheck/_blue.scss */
.iradio_flat-blue.checked.disabled {
  background-position: -154px 0; }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 49, ../../../scss/furatto/icheck/_blue.scss */
  .icheckbox_flat-blue,
  .iradio_flat-blue {
    background-image: url(../img/icheck/blue@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px; } }
/* iCheck plugin flat skin, black
----------------------------------- */
/* line 4, ../../../scss/furatto/icheck/_flat.scss */
.icheckbox_flat,
.iradio_flat {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(flat.png) no-repeat;
  border: none;
  cursor: pointer; }

/* line 15, ../../../scss/furatto/icheck/_flat.scss */
.icheckbox_flat {
  background-position: 0 0; }

/* line 18, ../../../scss/furatto/icheck/_flat.scss */
.icheckbox_flat.checked {
  background-position: -22px 0; }

/* line 21, ../../../scss/furatto/icheck/_flat.scss */
.icheckbox_flat.disabled {
  background-position: -44px 0;
  cursor: default; }

/* line 25, ../../../scss/furatto/icheck/_flat.scss */
.icheckbox_flat.checked.disabled {
  background-position: -66px 0; }

/* line 29, ../../../scss/furatto/icheck/_flat.scss */
.iradio_flat {
  background-position: -88px 0; }

/* line 32, ../../../scss/furatto/icheck/_flat.scss */
.iradio_flat.checked {
  background-position: -110px 0; }

/* line 35, ../../../scss/furatto/icheck/_flat.scss */
.iradio_flat.disabled {
  background-position: -132px 0;
  cursor: default; }

/* line 39, ../../../scss/furatto/icheck/_flat.scss */
.iradio_flat.checked.disabled {
  background-position: -154px 0; }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 49, ../../../scss/furatto/icheck/_flat.scss */
  .icheckbox_flat,
  .iradio_flat {
    background-image: url(flat@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px; } }
/* iCheck plugin Flat skin, green
----------------------------------- */
/* line 4, ../../../scss/furatto/icheck/_green.scss */
.icheckbox_flat-green,
.iradio_flat-green {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(green.png) no-repeat;
  border: none;
  cursor: pointer; }

/* line 15, ../../../scss/furatto/icheck/_green.scss */
.icheckbox_flat-green {
  background-position: 0 0; }

/* line 18, ../../../scss/furatto/icheck/_green.scss */
.icheckbox_flat-green.checked {
  background-position: -22px 0; }

/* line 21, ../../../scss/furatto/icheck/_green.scss */
.icheckbox_flat-green.disabled {
  background-position: -44px 0;
  cursor: default; }

/* line 25, ../../../scss/furatto/icheck/_green.scss */
.icheckbox_flat-green.checked.disabled {
  background-position: -66px 0; }

/* line 29, ../../../scss/furatto/icheck/_green.scss */
.iradio_flat-green {
  background-position: -88px 0; }

/* line 32, ../../../scss/furatto/icheck/_green.scss */
.iradio_flat-green.checked {
  background-position: -110px 0; }

/* line 35, ../../../scss/furatto/icheck/_green.scss */
.iradio_flat-green.disabled {
  background-position: -132px 0;
  cursor: default; }

/* line 39, ../../../scss/furatto/icheck/_green.scss */
.iradio_flat-green.checked.disabled {
  background-position: -154px 0; }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 49, ../../../scss/furatto/icheck/_green.scss */
  .icheckbox_flat-green,
  .iradio_flat-green {
    background-image: url(green@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px; } }
/* iCheck plugin Flat skin, grey
----------------------------------- */
/* line 4, ../../../scss/furatto/icheck/_grey.scss */
.icheckbox_flat-grey,
.iradio_flat-grey {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(grey.png) no-repeat;
  border: none;
  cursor: pointer; }

/* line 15, ../../../scss/furatto/icheck/_grey.scss */
.icheckbox_flat-grey {
  background-position: 0 0; }

/* line 18, ../../../scss/furatto/icheck/_grey.scss */
.icheckbox_flat-grey.checked {
  background-position: -22px 0; }

/* line 21, ../../../scss/furatto/icheck/_grey.scss */
.icheckbox_flat-grey.disabled {
  background-position: -44px 0;
  cursor: default; }

/* line 25, ../../../scss/furatto/icheck/_grey.scss */
.icheckbox_flat-grey.checked.disabled {
  background-position: -66px 0; }

/* line 29, ../../../scss/furatto/icheck/_grey.scss */
.iradio_flat-grey {
  background-position: -88px 0; }

/* line 32, ../../../scss/furatto/icheck/_grey.scss */
.iradio_flat-grey.checked {
  background-position: -110px 0; }

/* line 35, ../../../scss/furatto/icheck/_grey.scss */
.iradio_flat-grey.disabled {
  background-position: -132px 0;
  cursor: default; }

/* line 39, ../../../scss/furatto/icheck/_grey.scss */
.iradio_flat-grey.checked.disabled {
  background-position: -154px 0; }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 49, ../../../scss/furatto/icheck/_grey.scss */
  .icheckbox_flat-grey,
  .iradio_flat-grey {
    background-image: url(grey@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px; } }
/* iCheck plugin Flat skin, orange
----------------------------------- */
/* line 4, ../../../scss/furatto/icheck/_orange.scss */
.icheckbox_flat-orange,
.iradio_flat-orange {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(orange.png) no-repeat;
  border: none;
  cursor: pointer; }

/* line 15, ../../../scss/furatto/icheck/_orange.scss */
.icheckbox_flat-orange {
  background-position: 0 0; }

/* line 18, ../../../scss/furatto/icheck/_orange.scss */
.icheckbox_flat-orange.checked {
  background-position: -22px 0; }

/* line 21, ../../../scss/furatto/icheck/_orange.scss */
.icheckbox_flat-orange.disabled {
  background-position: -44px 0;
  cursor: default; }

/* line 25, ../../../scss/furatto/icheck/_orange.scss */
.icheckbox_flat-orange.checked.disabled {
  background-position: -66px 0; }

/* line 29, ../../../scss/furatto/icheck/_orange.scss */
.iradio_flat-orange {
  background-position: -88px 0; }

/* line 32, ../../../scss/furatto/icheck/_orange.scss */
.iradio_flat-orange.checked {
  background-position: -110px 0; }

/* line 35, ../../../scss/furatto/icheck/_orange.scss */
.iradio_flat-orange.disabled {
  background-position: -132px 0;
  cursor: default; }

/* line 39, ../../../scss/furatto/icheck/_orange.scss */
.iradio_flat-orange.checked.disabled {
  background-position: -154px 0; }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 49, ../../../scss/furatto/icheck/_orange.scss */
  .icheckbox_flat-orange,
  .iradio_flat-orange {
    background-image: url(orange@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px; } }
/* iCheck plugin Flat skin, pink
----------------------------------- */
/* line 4, ../../../scss/furatto/icheck/_pink.scss */
.icheckbox_flat-pink,
.iradio_flat-pink {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(pink.png) no-repeat;
  border: none;
  cursor: pointer; }

/* line 15, ../../../scss/furatto/icheck/_pink.scss */
.icheckbox_flat-pink {
  background-position: 0 0; }

/* line 18, ../../../scss/furatto/icheck/_pink.scss */
.icheckbox_flat-pink.checked {
  background-position: -22px 0; }

/* line 21, ../../../scss/furatto/icheck/_pink.scss */
.icheckbox_flat-pink.disabled {
  background-position: -44px 0;
  cursor: default; }

/* line 25, ../../../scss/furatto/icheck/_pink.scss */
.icheckbox_flat-pink.checked.disabled {
  background-position: -66px 0; }

/* line 29, ../../../scss/furatto/icheck/_pink.scss */
.iradio_flat-pink {
  background-position: -88px 0; }

/* line 32, ../../../scss/furatto/icheck/_pink.scss */
.iradio_flat-pink.checked {
  background-position: -110px 0; }

/* line 35, ../../../scss/furatto/icheck/_pink.scss */
.iradio_flat-pink.disabled {
  background-position: -132px 0;
  cursor: default; }

/* line 39, ../../../scss/furatto/icheck/_pink.scss */
.iradio_flat-pink.checked.disabled {
  background-position: -154px 0; }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 49, ../../../scss/furatto/icheck/_pink.scss */
  .icheckbox_flat-pink,
  .iradio_flat-pink {
    background-image: url(pink@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px; } }
/* iCheck plugin Flat skin, purple
----------------------------------- */
/* line 4, ../../../scss/furatto/icheck/_purple.scss */
.icheckbox_flat-purple,
.iradio_flat-purple {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(purple.png) no-repeat;
  border: none;
  cursor: pointer; }

/* line 15, ../../../scss/furatto/icheck/_purple.scss */
.icheckbox_flat-purple {
  background-position: 0 0; }

/* line 18, ../../../scss/furatto/icheck/_purple.scss */
.icheckbox_flat-purple.checked {
  background-position: -22px 0; }

/* line 21, ../../../scss/furatto/icheck/_purple.scss */
.icheckbox_flat-purple.disabled {
  background-position: -44px 0;
  cursor: default; }

/* line 25, ../../../scss/furatto/icheck/_purple.scss */
.icheckbox_flat-purple.checked.disabled {
  background-position: -66px 0; }

/* line 29, ../../../scss/furatto/icheck/_purple.scss */
.iradio_flat-purple {
  background-position: -88px 0; }

/* line 32, ../../../scss/furatto/icheck/_purple.scss */
.iradio_flat-purple.checked {
  background-position: -110px 0; }

/* line 35, ../../../scss/furatto/icheck/_purple.scss */
.iradio_flat-purple.disabled {
  background-position: -132px 0;
  cursor: default; }

/* line 39, ../../../scss/furatto/icheck/_purple.scss */
.iradio_flat-purple.checked.disabled {
  background-position: -154px 0; }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 49, ../../../scss/furatto/icheck/_purple.scss */
  .icheckbox_flat-purple,
  .iradio_flat-purple {
    background-image: url(purple@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px; } }
/* iCheck plugin Flat skin, red
----------------------------------- */
/* line 4, ../../../scss/furatto/icheck/_red.scss */
.icheckbox_flat-red,
.iradio_flat-red {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(red.png) no-repeat;
  border: none;
  cursor: pointer; }

/* line 15, ../../../scss/furatto/icheck/_red.scss */
.icheckbox_flat-red {
  background-position: 0 0; }

/* line 18, ../../../scss/furatto/icheck/_red.scss */
.icheckbox_flat-red.checked {
  background-position: -22px 0; }

/* line 21, ../../../scss/furatto/icheck/_red.scss */
.icheckbox_flat-red.disabled {
  background-position: -44px 0;
  cursor: default; }

/* line 25, ../../../scss/furatto/icheck/_red.scss */
.icheckbox_flat-red.checked.disabled {
  background-position: -66px 0; }

/* line 29, ../../../scss/furatto/icheck/_red.scss */
.iradio_flat-red {
  background-position: -88px 0; }

/* line 32, ../../../scss/furatto/icheck/_red.scss */
.iradio_flat-red.checked {
  background-position: -110px 0; }

/* line 35, ../../../scss/furatto/icheck/_red.scss */
.iradio_flat-red.disabled {
  background-position: -132px 0;
  cursor: default; }

/* line 39, ../../../scss/furatto/icheck/_red.scss */
.iradio_flat-red.checked.disabled {
  background-position: -154px 0; }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 49, ../../../scss/furatto/icheck/_red.scss */
  .icheckbox_flat-red,
  .iradio_flat-red {
    background-image: url(red@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px; } }
/* iCheck plugin Flat skin, yellow
----------------------------------- */
/* line 4, ../../../scss/furatto/icheck/_yellow.scss */
.icheckbox_flat-yellow,
.iradio_flat-yellow {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(yellow.png) no-repeat;
  border: none;
  cursor: pointer; }

/* line 15, ../../../scss/furatto/icheck/_yellow.scss */
.icheckbox_flat-yellow {
  background-position: 0 0; }

/* line 18, ../../../scss/furatto/icheck/_yellow.scss */
.icheckbox_flat-yellow.checked {
  background-position: -22px 0; }

/* line 21, ../../../scss/furatto/icheck/_yellow.scss */
.icheckbox_flat-yellow.disabled {
  background-position: -44px 0;
  cursor: default; }

/* line 25, ../../../scss/furatto/icheck/_yellow.scss */
.icheckbox_flat-yellow.checked.disabled {
  background-position: -66px 0; }

/* line 29, ../../../scss/furatto/icheck/_yellow.scss */
.iradio_flat-yellow {
  background-position: -88px 0; }

/* line 32, ../../../scss/furatto/icheck/_yellow.scss */
.iradio_flat-yellow.checked {
  background-position: -110px 0; }

/* line 35, ../../../scss/furatto/icheck/_yellow.scss */
.iradio_flat-yellow.disabled {
  background-position: -132px 0;
  cursor: default; }

/* line 39, ../../../scss/furatto/icheck/_yellow.scss */
.iradio_flat-yellow.checked.disabled {
  background-position: -154px 0; }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 49, ../../../scss/furatto/icheck/_yellow.scss */
  .icheckbox_flat-yellow,
  .iradio_flat-yellow {
    background-image: url(yellow@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px; } }
