html {
  font-family: $font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

html, body {
  background-color: $bg-color;
}

.with-left-navbar {
  padding-left: 5em;
}

.main-container {
  padding-left: 15px;
}
