// Checkbox & Radio
.checkbox,
.radio {
  margin-bottom: 12px;
  padding-left: 32px;
  position: relative;
  @include transition(0.25s);
  &:hover {
    color: $ch-rb-color;
  }
  input {
    outline: none !important;
    @include opacity(0);
  }
  &.checked {
    .icon {
      background-position: -60px -30px;
      opacity: 1;
      display: block\9;
    }
    .icon-to-fade {
      opacity: 0;
      display: none\9;
    }
  }
  // Disabled state
  &.disabled {
    color: scale-color($gray, $lightness: 62%);
    cursor: default;
    .icon {
      opacity: 0;
      display: none\9;
    }
    .icon-to-fade {
      background-position: -30px -60px;
      opacity: 1;
      display: block\9;
    }
    &.checked {
      .icon {
        background-position: 0 -90px;
        opacity: 1;
        display: block\9;
      }
      .icon-to-fade {
        opacity: 0;
        display: none\9;
      }
    }
  }
  // Icon
  .icon,
  .icon-to-fade {
    background: url("../img/checkbox.png") -90px 0 no-repeat;
    display: block;
    height: 20px;
    left: 0;
    opacity: 1;
    position: absolute;
    top: -1px;
    width: 20px;
    @include transition(opacity 0.1s linear);
  }
  .icon {
    opacity: 0;
    top: 0;
    z-index: 2;
    display: none\9;
  }
}

// Radio
.radio {
  .icon,
  .icon-to-fade {
    background-image: url("../img/radio.png");
  }
}
