/*------------------------------------*\
    $NAVBAR
\*------------------------------------*/
/**
 * Basic button structural styling. 
 * 
 * Designed and built @kurenn  
 */

.navbar {
  overflow: visible;
  margin-bottom: $base-line-height;

  /*Fix for IE7's bad z-indexing so dropdowns don't appear below content that follows the navbar*/
  *position: relative;
  *z-index: 2;
}

// Inner for background effects
// Gradient is applied to its own element because overflow visible is not honored by IE when filter is present
.navbar-inner {
  min-height: $navbar-height;
  padding-left:  20px;
  padding-right: 20px;
  background: $navbar-bg-color;

  /*Prevent floats from breaking the navbar*/
  @include clearfix;
}

// Override the default collapsed state
.nav-collapse.collapse {
  height: auto;
  overflow: visible;
}

// Set width to auto for default container
// We then reset it for fixed navbars in the #gridSystem mixin
.navbar .container {
  width: auto;
}

.navbar .brand {
  float: left;
  display: block;

  /*Vertically center the text given $navbar-height*/
  padding: (($navbar-height - $base-line-height) / 2) 20px (($navbar-height - $base-line-height) / 2);

  margin-left: -20px; /*negative indent to left-align the text down the page*/
  font-size: 20px;
  font-weight: 200;
  color: $navbar-brand-color;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

// Plain text in topbar
.navbar-text {
  margin-bottom: 0;
  line-height: $navbar-height;
  color: $navbar-text;
}

// Links
.navbar .nav > li > a {
  float: none;
  /*Vertically center the text given @navbarHeight*/
  padding: (($navbar-height - $base-line-height) / 2) 15px (($navbar-height - $base-line-height) / 2);
  color: $navbar-text;
  text-decoration: none;
}

// Active nav items
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: $navbar-link-color-active;
  text-decoration: none;
  border-top: 2px solid $green;

  &:after {
    content: '';
    position: relative;
    width: 0;
    height: 0;
    left: -22px;
    top: -6px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid $green;
  }
}

//Navigation
.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;

}

.navbar .nav.pull-right {
  float: right; /*redeclare due to specificity*/
  margin-right: 0; /*remove margin on float right nav*/
}

.navbar .nav > li {
  float: left;
}

// Dividers in navbar
.divider-vertical {
  height: $navbar-height + 7; /*Fix for the navbar*/
  margin: 0 9px;
  border-left: 1px solid $navbar-border;
}
