//
// Variables
//----------------------------------------------------

//Body
/*$bg-color: #f0f0f0;*/
$bg-color: #ebe7df;

// Fonts
$font-family: 'Open Sans', 'Helvetica Neue';
$base-font-size: 16px;
$base-line-height: 20px;

//Border
$base-radius: 2px;

//Colors

//Reds
$red: #e74c3c;
$dark-red: #C0392B;

//Hipsters
$info: #1ABC9C;
$dark-info: #16A085;

//Inverse
$dark-inverse: #2C3E50;
$inverse: #34495E;

//Blues
$dark-blue: #2980B9;
$blue: #3498DB;

//Grays
$dark-gray: #7F8C8D;
$gray: #95a5a6;
$light-gray: #ecf0f1;

//Purples
$purple: #9B59B6;
$dark-purple: #8E44AD;

//Greens
$green: #2ECC71;
$dark-green: #27AE60;

//Orange
$dark-orange: #f39c12;
$orange: #f1c40f;

//All colors
$colors: primary $dark-blue $blue, //class name, bg color, hover bg color
         success $dark-green $green,
         danger $dark-red $red,
         warning $dark-orange $orange,
         inverse $dark-inverse $inverse,
         info $dark-info $info,
         default $dark-gray $gray,
         funky $dark-purple $purple;

//Buttons

$font-size-large: $base-font-size * 1.25; // ~18px
$font-size-small: $base-font-size * 0.85; // ~12px
$font-size-mini:  $base-font-size * 0.75; // ~11px

$padding-large: 11px 19px; // 44px
$padding-small:  2px 10px;  // 26px
$padding-mini:   0 6px;   // 22px

//Alerts
$warning-alert-color: #d38305;
$warning-header-color: #cc6633;

$success-alert-color: #006633;
$success-header-color: #006633;

$info-alert-color: #195999;
$info-header-color: #195999;

$danger-alert-color: #993333;
$danger-header-color: #993333;

//Navbar
$navbar-height: 40px;
$navbar-bg-color: #232323;
$navbar-border: #38393a;
$navbar-text: #eaeaea;
$navbar-brand-color: $navbar-text;
$navbar-link-color-active: #FFF;

//Vrt Navbar
$vrt-navbar-background: #F7F7F7;
$vrt-navbar-width: 3em;
$vrt-navbar-height: $vrt-navbar-width;
$vrt-navbar-lineheight: $vrt-navbar-width;
$vrt-navbar-border: #000;
$vrt-navbar-links-bg: $blue;
$vrt-navbar-links-color: #FFF;

//Inputs
$input-color: #34495e;
$input-border-radius: 2px;
$input-bg: #FFF;
$input-border-color: #CCC;
$input-focus-color: $blue;

//Tables
$table-color: #FFF;
$table-header-primary: $dark-blue;
$table-border-color: #d2d2d2;
$table-striped-color: #f9f9f9;

//Responsive Navbar
$nav-bar-collapse-width: 979px;
$nav-bar-collapse-width-desktop: $nav-bar-collapse-width + 1;

//Images
$img-border: $dark-green;

//Select
$select-bg: $dark-info;
$select-text-color: #FFF;
$select-options-bg: $inverse;
