<div class="row">
  <div class="section-jumbo-container">
    <h1 class="jumbo-header">Add-ons</h1> 
    <p class="motto">Extend Furatto with a collection of add-ons ready to rock.</p>
  </div>
</div>

<div class="container-center">
  <div class="row">
    <h4 class="light">We are working to provide a good collection of add-ons to extend Furatto. You can check the repo <a href="https://github.com/IcaliaLabs/furatto_addons" target="_blank">here</a></h4>
  </div>
  <div class="row">
    <p>Some of the add-ons to come are:</p>
    <ul>
      <li>CheckBox and RadioButtons</li>
      <li>Better select tags</li>
      <li>Expanding Image Previews</li>
      <li>Image thumbnails with hover caption effects</li>
      <li>Icon hover effects</li>
      <li>Loading Effects</li>
    </ul>  
    <h3>In the mean time...</h3>
    <div class="add-ons-wrapper row">
      <div class="col-4">
        <a href="http://icalialabs.github.io/furatto_addons/pagination/" target="_blank">
        <div class="add-on">
          <img src="assets/img/pagination-small.png" alt=""  class="img"/>    
          <p class="add-on-title">PAGINATION</p>
          <p class="add-on-description">Sleek and beautiful pagination</p>
        </div>
        </a>
      </div>  
      <div class="col-4">
        <a href="http://icalialabs.github.io/furatto_addons/buttonGroups/" target="_blank">
        <div class="add-on add-on-black">
          <img src="assets/img/group_buttons.png" alt=""  class="img"/>    
          <p class="add-on-title">GROUP BUTTONS</p>
          <p class="add-on-description">Grouping your actions at a glance</p>
        </div>
        </a>
      </div>  
      <div class="col-4">
        <a href="http://icalialabs.github.io/furatto_addons/expandingThumbnail/" target="_blank">
        <div class="add-on">
          <img src="assets/img/expandingpreviews.png" alt=""  class="img"/>    
          <p class="add-on-title">EXPANDING THUMBNAIL</p>
          <p class="add-on-description">Google style expanding preview</p>
        </div>
        </a>
      </div>  
    </div>
  </div>
</div>
