<div class="row">
  <div class="section-jumbo-container">
    <h1 class="jumbo-header">Docs</h1> 
    <p class="motto">
      Global CSS settings, jQuery plugins and fundamental HTML elements.
    </p>
  </div>
</div>

<div class="container-center">
  <div class="row">
    <div class="col-3">
      <div class="docs-sidebar">
        <ul class="nav nav-bordered">
          <li><a href="#overview">Overview</a></li>
          <li><a href="#whats_included">Grid</a></li>
          <li><a href="#basic_setup">Navigation</a></li>
          <li><a href="#browser_support">Buttons</a></li>
          <li><a href="#browser_support">Forms</a></li>
          <li><a href="#using_rails">Typography</a></li>
          <li><a href="#license">Images</a></li>
          <li><a href="#license">Tables</a></li>
          <li><a href="#license">Components</a></li>
          <li><a href="#license">Javascript</a></li>
        </ul>
      </div>
    </div>
    <div class="col-9">
      <div class="row"> 
        <div id="overview">
          <h2 class="header">Overview</h2>
        </div>
        <hr />
        <div id="grid">
          <h2 class="header">Grid</h2>
        </div>
        <hr />
        <div id="navigation">
          <h2 class="header">Navigation</h2>
        </div>
        <hr />
        <div id="butons">
          <h2 class="header">Buttons</h2>
        </div>
        <hr />
        <div id="forms">
          <h2 class="header">Forms</h2>
        </div>
        <hr />
        <div id="typography">
          <h2 class="header">Typography</h2>
        </div>
        <hr />
        <div id="images">
          <h2 class="header">Images</h2>
        </div>
        <hr />
        <div id="tables">
          <h2 class="header">Tables</h2>
        </div>
        <hr />
        <div id="components">
          <h2 class="header">Components</h2>
        </div>
        <hr />
        <div id="javascript">
          <h2 class="header">Javascript</h2>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>
