<div class="row">
  <div class="section-jumbo-container">
    <h1 class="jumbo-header">Images</h1> 
    <p class="motto">
      A collection of images behaviors
    </p>
  </div>
</div>
<div class="main-container">
  <div class="container-center">
    <div class="row">
      <h2>Default image</h2>
      <p>To make the images in your site become responsive, just add the <span class="code html">img</span> class name.</p>
      <img src="http://lorempixel.com/200/200/" alt="" class="img" />
      <pre data-language="html">
<code>
<img src="http://lorempixel.com/200/200/" alt="" class="img" />
</code>
      </pre>
      <br />
      <h2>Circular Image</h2>
      <p>If you ever want your images to be circles, just add the <span class="code html">img-circular</span> class name.</p>
      <img src="http://lorempixel.com/200/200/" alt="" class="img img-circular" />
      <pre data-language="html">
<code>
<img src="http://lorempixel.com/200/200/" alt="" class="img img-circular" />
</code>
      </pre>
      <br />
      <h2>Polaroid Image</h2>
      <p>Old times never pass out, to get the polaroid effect on any image add the <span class="code html">img-polaroid</span> class.</p>
      <img src="http://lorempixel.com/200/200/" alt="" class="img img-polaroid" />
      <div class="img-frame img-circular">
        <img src="http://lorempixel.com/200/200/" alt="" />
      </div>
      <p>
        <span class="label label-info">Heads up!</span>
        <br />
        The circular polaroid version for images need to be wrapped into a <span class="code html">div</span> element with the proper class names as shown in the example as a fix for iOS devices.</p>
      <pre data-language="html">
<code>
<img src="http://lorempixel.com/200/200/" alt="" class="img img-polaroid" />
<div class="img-frame img-circular">
  <img src="http://lorempixel.com/200/200/" alt="" />
</div>
</code>
      </pre>
      <br />
      <h2>Selected Image</h2>
      <p>Whenever you want to highlight an image as if it was selected, you just need to add the <span class="code html">img-selected</span> class.</p>
      <img src="http://lorempixel.com/200/200/" alt="" class="img img-well img-selected" />
      <div class="img-frame img-circular img-selected">
        <img src="http://lorempixel.com/200/200/" alt="" />
      </div>
      <p>
        <span class="label label-funky">Heads up!</span>
        <br />
        The circular selected version for images need to be wrapped into a <span class="code html">div</span> element with the proper class names as shown in the example as a fix for iOS devices.</p>
      <pre data-language="html">
<code>
<img src="http://lorempixel.com/200/200/" alt="" class="img img-well img-selected" />
<div class="img-frame img-circular img-selected">
  <img src="http://lorempixel.com/200/200/" alt="" />
</div>
</code>
      </pre>
      <br />
      <h2>Well Image</h2>
      <p>Look mom!, I'm well.</p>
      <img src="http://lorempixel.com/200/200/" alt="" class="img img-well" />
      <pre data-language="html">
<code>
<img src="http://lorempixel.com/200/200/" alt="" class="img img-well" />
</code>
      </pre>
      <br />
      <h2>All together, or at least many!</h2>
      <img src="http://lorempixel.com/200/200/" alt="" class="img img-well img-polaroid" />
      <div class="img-frame img-circular">
        <img src="http://lorempixel.com/200/200/" alt="" />
      </div>
      <pre data-language="html">
<code>
<img src="http://lorempixel.com/200/200/" alt="" class="img img-circular img-polaroid img-hover" />
<div class="img-frame img-circular img-hover">
  <img src="http://lorempixel.com/200/200/" alt="" />
</div>
</code>
      </pre>
    </div>
  </div>
</div>

