<div class="row">
  <div class="jumbo-container">
    <h1 class="jumbo-header">Furatto</h1>
    <p class="motto">Try simplicity. Easy web.</p>
    <a href="assets/furatto.zip" class="btn btn-info btn-alpha btn-xlarge">Download Furatto</a>
  </div>
</div>
<div class="row text-center docs-white-text">
  <ul class="inline">
    <li><a href="https://github.com/IcaliaLabs/furatto" target="_blank">Github Project</a></li>
    <li><a href="#">Examples</a></li>
    <li class="disabled">Version 2</li>
  </ul>
</div>
