<div class="row">
  <div class="jumbo-container">
    <h1 class="jumbo-header animated fadeInDownBig" id="mainHeader">Furatto</h1>
    <p class="motto">A mobile-first CSS framework for <br /> rapid web development.</p>
    <a href="assets/furatto.zip" class="btn btn-info btn-alpha btn-xlarge animated fadeIn" onclick="_gaq.push(['_trackEvent', 'Furatto Actions', 'Download', 'Download V2']);">Download Furatto</a>
  </div>
</div>
<div class="row text-center docs-white-text">
  <ul class="inline">
    <li><a href="https://github.com/IcaliaLabs/furatto" target="_blank">Github Project</a></li>
    <li><a href="examples.html">Examples</a></li>
    <li class="disabled">Version 2</li>
  </ul>
</div>
