<div class="row">
  <div class="jumbo-container">
    <h1 class="jumbo-header">Furatto <sup class="jumbo-header-version">2</sup></h1>
    <p class="motto">
    It's a flat, fast and powerful front-end framework for 
    <br />
    rapid web development.
    </p>
    <a href="assets/furatto.zip" class="btn btn-highlight btn-xxlarge btn-shadow">Download</a>
  </div>
</div>
<div class="row text-center">
  <ul class="inline">
    <li><a href="https://github.com/IcaliaLabs/furatto" target="_blank" class="white">Github Project</a></li>
    <li><a href="#" class="white">Examples</a></li>
    <li class="disabled">Version 2</li>
  </ul>
</div>

<div class="row features">
  <div class="furatto-steps">
    <div class="span4">
      <div class="img-container">
        <img src="assets/img/icons/rocket.png" />
      </div>
      <h2 class="step-header">Ready to launch!</h1>
      <p class="step-desc">You have everything built up, ready to launch your site with a beautiful and sleek design!</p>
    </div>
    <div class="span4">
      <div class="img-container screens-img-container">
      <img src="assets/img/icons/screens.png" />
      </div>
      <h2 class="step-header">Take it anywhere!</h1>
      <p class="step-desc">Furatto is built based not only to look nice in desktop browsers, but on smartphones, tablets browsers thanks to the responsive CSS</p>
    </div>
    <div class="span4">
      <div class="img-container shapes-img-container">
      <img src="assets/img/icons/shapes.png" />
      </div>
      <h2 class="step-header">Highly customizable!</h1>
      <p class="step-desc">You don't like the default values?, it's extremely easy to add or change elements</p>
    </div>
  </div>
</div>

<div class="row text-center">
  <h2>Getting started</h2>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row row-primary text-center add-ons">
  <h3>Add-ons</h3>
</div>

<br>
<br>
<br>
<br>

<div class="row">
  <p class="powered text-center"><span>powered by</span> <a href="http://icalialabs.com" target="_blank"><img src="assets/img/icons/icalia.png" /></a></p>
</div>
