<div class="alert radius shadow">
  <a href="#" class="close">x</a>

  <strong>Heads up!</strong>
  This
  <a href="javascript:void(0)">alert needs your attention</a>
  , but it's not super important.
</div>

<div class="alert danger">
  <a href="#" class="close">x</a>

  <strong>Heads up!</strong>
  This
  <a href="javascript:void(0)">alert needs your attention</a>
  , but it's not super important.
</div>
<div class="alert success shadow">
  <a href="#" class="close">x</a>

  <strong>Heads up!</strong>
  This
  <a href="javascript:void(0)" >alert needs your attention</a>
  , but it's not super important.
</div>
