<div style="margin-top:30px;" class="text center">
  <a href="#" class="badge" data-badge="25">Inbox</a>
  <a href="#" class="badge primary" data-badge="25">Inbox</a>
  <a href="#" class="badge no-background" data-badge="25">Inbox</a>
  <span class="badge" data-badge="25">Inbox</span>
  <h1 class="badge" data-badge="25">Inbox</h1>
</div>
