<a href="#" class="button shadow">Button</a>
<a href="#" class="button pill">Button</a>
<a href="#" class="button radius">Button</a>
<a href="#" class="button three-d">Button</a>
<a href="#" class="button alpha pill">Button</a>
<a href="#" class="button block">Button</a>
<a href="#" class="button disabled">Button</a>
<a href="#" class="button active">Button</a>

<a href="#" class="button large">Button</a>
<a href="#" class="button small">Button</a>
