<div class="row">
  <div class="eight columns no-padding border bottom left">
    <div class="container">
      <h1>Buttons</h1>
      <p>Buttons are a good way to present links or submission buttons on forms. Furatto makes it really easy to achieve it, by using the default ones or create your owns.</p>
    </div>
  </div>
  <div class="four columns html no-padding border left bottom">
    <div class="container" style="height:166px;">
    </div>
  </div>
</div>

<div class="row">
  <div class="eight columns no-padding border bottom left">
    <div class="container">
      <h2>Building the markup</h2>
      <p>The markup to create a button is fairly simple, and short.</p>
      <div class="code-block">
        <a href="#" class="code-copy">Copy</a>
<pre>
<code class="language-markup" data-language="markup">
  &lt;a href="#" class="button">Default button&lt;/a>
</code>
</pre>
      </div>

    </div>
  </div>
  <div class="four columns html no-padding border left bottom">
    <div class="container result" style="height:198px;">
      <span>RESULT</span>
      <div class="wrapper">
        <a href="#" class="button">Default button</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="eight columns no-padding border bottom left">
    <div class="container">
      <h2>Button sizing</h2>
      <p>You can add two different class names to change the button size.</p>
      <div class="code-block">
        <a href="#" class="code-copy">Copy</a>
<pre>
<code class="language-markup" data-language="markup">
  &lt;a href="#" class="button small">Small button&lt;/a>
</code>
</pre>
      </div>
      <div class="code-block">
        <a href="#" class="code-copy">Copy</a>
<pre>
<code class="language-markup" data-language="markup">
  &lt;a href="#" class="button large">Large button&lt;/a>
</code>
</pre>
      </div>

    </div>
  </div>
  <div class="four columns html no-padding border left bottom">
    <div class="container result" style="height:264px;">
      <span>RESULT</span>
      <div class="wrapper">
        <a href="#" class="button small">Small button</a>
        <a href="#" class="button large">Large button</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="eight columns no-padding border bottom left">
    <div class="container">
      <h2>Button styles</h2>
      <p>We have added some class modifiers to give buttons different look and feel.</p>
      <div class="code-block">
        <a href="#" class="code-copy">Copy</a>
<pre>
<code class="language-markup" data-language="markup">
  &lt;a href="#" class="button shadow">Shadow button&lt;/a>
</code>
</pre>
      </div>
      <div class="code-block">
        <a href="#" class="code-copy">Copy</a>
<pre>
<code class="language-markup" data-language="markup">
  &lt;a href="#" class="button pill">Pill button&lt;/a>
</code>
</pre>
      </div>
      <div class="code-block">
        <a href="#" class="code-copy">Copy</a>
<pre>
<code class="language-markup" data-language="markup">
  &lt;a href="#" class="button radius">Radius button&lt;/a>
</code>
</pre>
      </div>
      <div class="code-block">
        <a href="#" class="code-copy">Copy</a>
<pre>
<code class="language-markup" data-language="markup">
  &lt;a href="#" class="button push">Push button&lt;/a>
</code>
</pre>
      </div>
      <div class="code-block">
        <a href="#" class="code-copy">Copy</a>
<pre>
<code class="language-markup" data-language="markup">
  &lt;a href="#" class="button alpha">Alpha button&lt;/a>
</code>
</pre>
      </div>
      <div class="code-block">
        <a href="#" class="code-copy">Copy</a>
<pre>
<code class="language-markup" data-language="markup">
  &lt;a href="#" class="button block">Block button&lt;/a>
</code>
</pre>
      </div>
      <div class="code-block">
        <a href="#" class="code-copy">Copy</a>
<pre>
<code class="language-markup" data-language="markup">
  &lt;a href="#" class="button disabled">Disabled button&lt;/a>
</code>
</pre>
      </div>
      <div class="code-block">
        <a href="#" class="code-copy">Copy</a>
<pre>
<code class="language-markup" data-language="markup">
  &lt;a href="#" class="button active">Active button&lt;/a>
</code>
</pre>
      </div>
      <div class="code-block">
        <a href="#" class="code-copy">Copy</a>
<pre>
<code class="language-markup" data-language="markup">
  &lt;a href="#" class="button circular">Circular button&lt;/a>
</code>
</pre>
      </div>

    </div>
  </div>
  <div class="four columns html no-padding border left bottom">
    <div class="container result" style="height:726px;">
      <span>RESULT</span>
      <div class="wrapper">
    <a href="#" class="button shadow">Shadow button</a>
    <a href="#" class="button pill">Pill button</a>
    <a href="#" class="button radius">Radius button</a>
    <a href="#" class="button push">Push button</a>
    <a href="#" class="button alpha">Alpha button</a>
    <a href="#" class="button block">Block button</a>
    <a href="#" class="button disabled">Disabled button</a>
    <a href="#" class="button active">Active button</a>
    <br />
    <a href="#" class="button circular">
      <span>M</span>
    </a>
      </div>
    </div>
  </div>
</div>

<br />
<div class="row">
    <div class="container">
      <h2>Powerful mixin</h2>
      <p>We provide a powerful mixin for you to create more buttons, so if you feel like going this way, you can just invoke the mixin like shown below, and send some variables to meet your needs.</p>

      <div class="row">
        <div class="six columns">
<pre>
<code class="language-scss" data-language="scss">
  .custom-button {
    @include button($background-color: #1abc9c);
  }
</code>
</pre>
        </div>
        <div class="six columns">
<pre>
<code class="language-markup" data-language="markup">
  &lt;a href="#" class="my-super-button">Button</a>
</code>
</pre>
        </div>
      </div>

      <h3>Available arguments</h3>

      <table class="responsive striped shadow">
        <thead>
          <tr>
            <th>Argument Name</th>
            <th>Description</th>
            <th>Default value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>$background-color</td>
            <td>Is the background color for the button to create.</td>
            <td><span class="label">#0092FC</span></td>
          </tr>
          <tr>
            <td>$padding</td>
            <td>The padding to give to the button.</td>
            <td><span class="label">8px 32px</span></td>
          </tr>
          <tr>
            <td>$font-size</td>
            <td>The font size for the button.</td>
            <td><span class="label">14px</span></td>
          </tr>
          <tr>
            <td>$font-weight</td>
            <td>The font weight for the button.</td>
            <td><span class="label">500</td>
          </tr>
          <tr>
            <td>$font-family</td>
            <td>The font family for the button</td>
            <td><span class="label">Open Sans</span></td>
          </tr>
          <tr>
            <td>$font-color</td>
            <td>The font color for the button.</td>
            <td><span class="label">#FFF</span></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

<div class="row">
    <div class="container">
      <h2>Available Sass Variables</h2>
      <p>You can customize the buttons really easy by changing the our Sass variables.</p>

<pre>
<code class="language-scss" data-language="scss">
  //Base button styles
  $base-font-family: "Open Sans", "Helvetica", sans-serif !default;
  $button-base-margin: 5px 0 !default;

  //Padding sizes for button
  $button-padding-bottom-top: 8 !default;
  $button-padding-right-left: 32 !default;

  //Padding sizes for buttons
  $button-small: px-to-rems($button-padding-bottom-top / 4) px-to-rems($button-padding-right-left / 3) !default;
  $button-default: px-to-rems($button-padding-bottom-top) px-to-rems($button-padding-right-left) !default;
  $button-large:  px-to-rems($button-padding-bottom-top * 2) px-to-rems($button-padding-right-left * 2) !default;

  //Buttons style
  $button-display: inline-block !default;
  $button-default-background-color: #0092FC !default;

  //Buttons general styles
  $button-font-family: $base-font-family !default;
  $button-font-color: #FFF !default;
  $button-font-weight: 500 !default;
  $button-font-size: px-to-rems(14) !default;
  $button-font-small: px-to-rems(12) !default;
  $button-font-large: px-to-rems(16) !default;
  $button-vertical-separation: px-to-rems(5) !default;

  //Buttons variations
  $button-radius: px-to-rems(4) !default;
  $button-alpha-border: 3px solid #FFF !default;
  $button-alpha-color: #FFF !default;
  $button-3d-border-width: px-to-rems(3) !default;
  $button-disabled-background: #CBCBCB !default;
  $button-active-background: darken($button-default-background-color, 5%) !default;
  $button-circular-size: px-to-rems(50) !default;
</code>
</pre>

    </div>
</div>
