<a href="#" class="button">Button</a>
<a href="#" class="button pill">Button</a>
<a href="#" class="button radius">Button</a>
<a href="#" class="button three-d">Button</a>
<a href="#" class="button alpha">Button</a>
<a href="#" class="button block">Button</a>
<a href="#" class="button disabled">Button</a>
<a href="#" class="button active">Button</a>

<a href="#" class="button large">Button</a>
<a href="#" class="button xlarge">Button</a>
<a href="#" class="button small">Button</a>
<a href="#" class="button mini">Button</a>

<button type="submit">Button</button>
<input type="submit" name="" id="" value="Button" />
<input type="reset" name="" id="" value="Button" />
