<input type="text" placeholder=".mini - 20% width" class="mini" />
<input type="text" placeholder=".small - 40% width" class="small" />
<input type="text" placeholder=".medium - 60% width" class="medium" />
<input type="text" placeholder=".large - 80% width" class="large" />
<input type="text" placeholder=".block - 100% width" class="block" />

<input type="text" placeholder=".medium - 60% width" class="small" disabled="" />


<form action="" method="get" accept-charset="utf-8">
  <label for="email">Email:</label>
  <input type="text" class="error" name="" id="email" value="" />
  <span class="help-hint error">It is not a well formed email...</span>
  <label for="email_success">Email:</label>
  <input type="text" class="success" name="" id="email_success" value="" />
  <span class="help-hint success">Great on writing your name...</span>
  <label for="bio">Bio:</label>
  <textarea name="" id="bio" rows="4" cols="40" class="success"></textarea>
  <span class="help-hint success">Impressive bio dude...</span>
</form>

<form action="" method="get" accept-charset="utf-8">
   <label for="name">A label</label>
   <input type="text" name="" id="name" value="" placeholder="A text field" />
   <br />
    <select name="" id="">
      <option>Select a language</option>
      <option>Ruby</option>
      <option>Javascript</option>
      <option>Objective-C</option>
    </select>

    <select name="" id="" class="shadow">
      <option>Select a language</option>
      <option>Ruby</option>
      <option>Javascript</option>
      <option>Objective-C</option>
    </select>

    
    <label for="radio">Choose an option</label>
    <input type="radio" name="radio" id="option1" value="" />
    <label for="option1">Option 1</label>
    <input type="radio" name="radio" id="option2" value="" />
    <label for="option2">Option 2</label>
    <input type="radio" name="radio" id="option3" value="" />
    <label for="option3">Option 3</label>
    <input type="radio" name="radio" id="option4" value="" />
    <label for="option4">Option 4</label>

    <label for="">Check as many as you want</label>
    <input type="checkbox" name="" id="check1" value="" />
    <label for="check1">Check two</label>
    <input type="checkbox" name="" id="check2" value="" />
    <label for="check2">Check one</label>

    <label for="textarea">A textarea</label>
   <textarea name="" id="textarea" rows="8" cols="40"></textarea>
 
</form>

<div class="input-addon">
   <a class="addon warning">$</a>
   <input class="addon-field" type="text">
</div>

<div class="input-addon">
   <input class="addon-field" type="text">
   <a class="addon warning">$</a>
</div>

<div class="input-addon">
   <span class="addon danger">Amount</span>
   <input class="addon-field" type="text">
   <span class="addon danger">Amount</span>
</div>                                        
