<div class="row">
  <div class="container">
    <h1>Grid</h1>
    <p>Furatto comes with fully responsive fluid system which scales up to 12 columns. It is generated using predefined classes for more semantic layouts, as well as mixins. Below 767px viewports, the columns become fluid and stack vertically.
    </p>
    <h3>A 12 column grid.</h3>
    <p>The twelve columns are distributed with a equitable width and margin, for example a .one column width is close to 8.30%, a .two columns is close to 16.60% and well you get the idea.This way it is very easy to build, let's say a dashboard or the two column layout you are right now. It is important to put the columns on a row div class element.</p>
    <div class"row">
      <div class="code-block">
        <%= code_block do 
            %q{&lt;div clas="row">
    &lt;div class="one column border right left">1&lt;/div>
    &lt;div class="two columns border right left">3&lt;/div>
    &lt;div class="two columns border right left">5&lt;/div>
    &lt;div class="three columns border right left">8&lt;/div>
    &lt;div class="four columns border right left">12&lt;/div>
  &lt;/div>}
          end 
          %>
      </div>
    </div>  
    <div class="row">
      <div class="twelve columns">
        <div class="one column border right left">
        1
        </div>
        <div class="two columns border right left">
        3
        </div>
        <div class="two columns border right left">
        5
        </div>
        <div class="three columns border right left">
        8
        </div>
        <div class="four columns border right left">
        12
        </div>
      </div>
    </div>
  </div>
</div>    
<div class="row">
  <div class="container">
  <h3>Building the markup</h3>
  <p>For a simple three column layout just add the row class name and add the correct number of col-* columns. The columns class name for the columns comes from the 1 to the 12 as is a 12 column grid. This are te default values, you can customize it to support as many columns as you want, keep reading...</p>
    <div class"row">
      <div class="code-block">
        <%= code_block do 
            %q{&lt;div clas="row">
    &lt;div class="four columns">&lt;/div>
    &lt;div class="four columns">&lt;/div>
    &lt;div class="four columns">&lt;/div>
  &lt;/div>}
          end 
          %>
      </div>
    </div>  
  </div>
</div>
