<div class="row">
  <div class="two columns border right left">
    2
  </div>
  <div class="two columns">
    4
  </div>
  <div class="two columns">
    6
  </div>
  <div class="two columns">
    8
  </div>
  <div class="two columns">
    10
  </div>
  <div class="two columns">
    12
  </div>
</div>
<div class="row">
  <div class="two columns border bottom">
    2
  </div>
  <div class="two columns">
    4
  </div>
  <div class="two columns">
    6
  </div>
  <div class="two columns offset-2">
    8
  </div>
  <div class="two columns">
    12
  </div>
</div>
