---
title: Furatto
layout: landing
---

<section class="row text center main-section">
  <%= image_tag "furatto-slide.gif", class: "responsive devices-image" %>
  <div class="main-motto-wrapper">
    <h1 class="motto">Lightweight & friendly <br> front-end framework.</h1>
    <a href="#" class="button pill">Download</a>
  </div>
  <p class="sub-motto">
    Furatto is a simple, extendable and highly customizable responsive front-end framework.
    Forget about complex class names, and focus only on readable and flexible code.
    Furatto is easy to learn, fast to code and easy to fall in love with.
  </p>
</section>

<section class="row examples">
  <h4 class="motto">Examples</h4>
  <h6 class="sub-motto">Here are quick start points for you to kick off your next project.</h6>

    <div class="three columns">
      <a class="example" href="/furatto/examples/bare_bones/" target="_blank" onclick="_gaq.push(['_trackEvent', 'Furatto Actions', 'Examples', 'Bare bones']);">
          <div class="icon bare-bones-icon">
            <hr class="header"/>
            <div class="row icon-wrapper">
              <div class="four columns no-padding-bottom">
                <span class="rectangle colored block"></span>
              </div>
              <div class="eight columns no-padding-right no-padding-bottom">
                <span class="rectangle block colored"></span>
              </div>
              <span class="rectangle block tall"></span>
              <div class="row">
                <div class="four columns no-padding-top">
                  <span class="rectangle block tall"></span>
                </div>
                <div class="four columns no-padding-top">
                  <span class="rectangle block tall"></span>
                </div>
                <div class="four columns no-padding-right no-padding-top">
                  <span class="rectangle block tall"></span>
                </div>
              </div>
            </div>
          </div>
        <br>
        <span class="button pill alpha shadow">Bare bones</span>
      </a>
    </div>

    <div class="three columns"><a class="example" href="/furatto/examples/bare_bones/" target="_blank" onclick="_gaq.push(['_trackEvent', 'Furatto Actions', 'Examples', 'Bare bones']);">
      </a><a class="example" href="/furatto/examples/login/" target="_blank" onclick="_gaq.push(['_trackEvent', 'Furatto Actions', 'Examples', 'Login']);">
          <div class="icon login-form-icon">
            <hr class="header"/>
            <div class="icon-wrapper">
              <span class="rectangle colored small"></span>
              <span class="rectangle long"></span>
              <span class="rectangle long"></span>
              <span class="rectangle"></span>
            </div>
          </div>
        <br>
        <span class="button pill alpha shadow">Login Form</span>
      </a>
    </div>

    <div class="three columns">
      <a class="example" href="/furatto/examples/gallery/" target="_blank" onclick="_gaq.push(['_trackEvent', 'Furatto Actions', 'Examples', 'Gallery']);">
          <div class="icon gallery-icon">
            <hr class="header"/>
            <div class="row icon-wrapper">
              <div class="four columns no-padding-bottom">
                <span class="rectangle colored block"></span>
              </div>
              <div class="eight columns no-padding-right no-padding-bottom">
                <span class="rectangle block colored"></span>
              </div>
              <div class="row">
                <div class="four columns no-padding-top no-padding-bottom">
                  <span class="rectangle block tall"></span>
                </div>
                <div class="four columns no-padding-top no-padding-bottom">
                  <span class="rectangle block tall"></span>
                </div>
                <div class="four columns no-padding-right no-padding-top no-padding-bottom">
                  <span class="rectangle block tall"></span>
                </div>
              </div>
              <div class="row">
                <div class="four columns no-padding-top">
                  <span class="rectangle block tall"></span>
                </div>
                <div class="four columns no-padding-top">
                  <span class="rectangle block tall"></span>
                </div>
                <div class="four columns no-padding-right no-padding-top">
                  <span class="rectangle block tall"></span>
                </div>
              </div>
            </div>
          </div>
        <br>
        <span class="button pill alpha shadow">Gallery</span>
      </a>
    </div>

    <div class="three columns">
      <a class="example" href="/furatto/examples/blog/" target="_blank" onclick="_gaq.push(['_trackEvent', 'Furatto Actions', 'Examples', 'Blog']);">
          <div class="icon blog-icon">
            <hr class="header"/>
            <div class="row icon-wrapper">
              <div class="four columns no-padding-bottom">
                <span class="rectangle colored block tall"></span>
              </div>
              <div class="eight columns no-padding-right no-padding-bottom">
                <span class="rectangle block colored tall"></span>
              </div>

              <div class="rectangle block"></div>

              <div class="row">
                <div class="four columns no-padding-bottom no-padding-top">
                  <span class="rectangle block tall"></span>
                </div>
                <div class="eight columns no-padding-right no-padding-bottom no-padding-top">
                  <span class="rectangle block tall"></span>
                </div>
              </div>
            </div>
          </div>
        <br>
        <span class="button pill alpha shadow">Blog</span>
      </a>
    </div>
</section>

<div class="row contribute">
  <h4 class="motto">Contribute</h4>
  <h6 class="sub-motto">We love when developers join the project, check how you can help.</h6>

  <div class="four columns contribution">
    <a href="https://github.com/IcaliaLabs/furatto/issues/new" class="button pill">Open an issue</a>
  </div>
  <div class="four columns contribution">
    <a href="https://twitter.com/furattoicalia" class="button pill">Shout a tweet</a>
  </div>
  <div class="four columns contribution">
    <a href="https://github.com/IcaliaLabs/furatto/issues/new" class="button pill">Submit theme</a>
  </div>
</div>
