<h1><span class="label shadow">Label</span></h1>
<h2><span class="label">Label</span></h2>
<h3><span class="label">Label</span></h3>
<h4><span class="label">Label</span></h4>
<h5><span class="label">Label</span></h5>
<h6><span class="label">Label</span></h6>
<span class="label success">Label</span>
<span class="label danger">Label</span>
<span class="label warning radius">Label</span>
<span class="label round">1</span>
<a href="#" class="label">Link</a>
<a href="#" class="custom-label">Link</a>
