<div class="row">
  <div class="container">
    <h1>Labels</h1>
    <p>Highlight important content, make notice of important announcements with labels or badges by adding the corresponding class name.</p>

    <br />

    <div class="row">
      <div class="eight columns">
        <h4><em>Building the markup</em></h4>
        <p>The markup to create labels is pretty straighforward, just add the <strong>.label</strong> to any element and you are good to go.</p>
        <%= code_block do 
          %q{&lt;span class="label">Default label&lt;/span>}
        end %>
    </div>

    <div class="four columns html no-padding border top left bottom">
      <div class="container result">
        <span>RESULT</span>
        <div class="wrapper">
          <span class="label">Default label</span>
        </div>
      </div>
    </div>
    </div>

    <div class="row">
      <h4><em>Labels sizing</em></h4>
      <p>
      Label class elements will now inherit the <strong>font size</strong> from their parents and apply a <strong>75%</strong> to its own size. So if you
      add a label inside a <strong>h1</strong> element for example with a font size of 36px, the label inside will have a 27px of size approximately.
      </p>
    </div>

    <div class="row">
      <div class="eight columns">
        <h4><em>Label colors</em></h4>
        <p>You can easily change the label colors, by adding some class modifiers.</p>
        <div class="code-block">
          <a href="#" class="code-copy">Copy</a>
          <pre>
<code class="language-markup" data-language="markup">
  &lt;span class="label success">Success label&lt;/span>
</code>
          </pre>
        </div>

        <div class="code-block">
          <a href="#" class="code-copy">Copy</a>
          <pre>
<code class="language-markup" data-language="markup">
  &lt;span class="label danger">Danger label&lt;/span>
</code>
          </pre>
        </div>

        <div class="code-block">
          <a href="#" class="code-copy">Copy</a>
          <pre>
<code class="language-markup" data-language="markup">
  &lt;span class="label warning">Warning label&lt;/span>
</code>
          </pre>
        </div>

      </div>
      <div class="four columns html no-padding border top left bottom">
        <div class="container result">
          <span>RESULT</span>
          <div class="wrapper">
            <span class="label success">Success label</span>
            <br />
            <span class="label danger">Danger label</span>
            <br />
            <span class="label warning">Warning label</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="eight columns">
        <h4><em>Label styles</em></h4>
        <p>We have added some class modifiers to give labels different look and feel.</p>
        <div class="code-block">
          <a href="#" class="code-copy">Copy</a>
          <pre>
<code class="language-markup" data-language="markup">
  &lt;span class="label round">100&lt;/span>
</code>
          </pre>
        </div>
        <div class="code-block">
          <a href="#" class="code-copy">Copy</a>
          <pre>
<code class="language-markup" data-language="markup">
  &lt;span class="label radius">Radius label&lt;/span>
</code>
          </pre>
        </div>
        <div class="code-block">
          <a href="#" class="code-copy">Copy</a>
          <pre>
<code class="language-markup" data-language="markup">
  &lt;span class="label shadow">Shadow label&lt;/span>
</code>
          </pre>
        </div>
        <div class="code-block">
          <a href="#" class="code-copy">Copy</a>
          <pre>
<code class="language-markup" data-language="markup">
  &lt;span class="label shadow radius">Shadow radius label&lt;/span>
</code>
          </pre>
        </div>
      </div>
      <div class="four columns html no-padding border left bottom">
        <div class="container result" style="height:395px;">
          <span>RESULT</span>
          <div class="wrapper">
            <span href="#" class="label round">100</span>
            <br />
            <span href="#" class="label radius">Radius label</span>
            <br />
            <span href="#" class="label shadow">Shadow label</span>
            <br />
            <span href="#" class="label shadow radius">Shadow radius label</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <h4><em>Powerful mixin</em></h2>
      <p>Don't on the mood to use the built in labels?, that's fair, we have included a mixin to create your own, check it out!</p>

      <div class="row">
        <div class="six columns">
          <pre>
<code class="language-scss" data-language="scss">
  .custom-label {
    @include label($background-color: #1abc9c);
  }
</code>
          </pre>
        </div>
        <div class="six columns">
          <pre>
<code class="language-markup" data-language="markup">
  &lt;span class="custom-label">Custom Label&lt;/span>
</code>
          </pre>
        </div>
      </div>

      <h4><em>Available arguments</em></h4>

      <table class="responsive striped shadow">
        <thead>
          <tr>
            <th>Argument Name</th>
            <th>Description</th>
            <th>Default value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>$background-color</td>
            <td>Is the background color for the label to create.</td>
            <td><span class="label">#0092FC</span></td>
          </tr>
          <tr>
            <td>$padding</td>
            <td>The padding to give to the label.</td>
            <td><span class="label">2px 4px</span></td>
          </tr>
          <tr>
            <td>$font-size</td>
            <td>The font size for the label.</td>
            <td><span class="label">75%</span></td>
          </tr>
          <tr>
            <td>$font-weight</td>
            <td>The font weight for the button.</td>
            <td><span class="label">400</td>
          </tr>
          <tr>
            <td>$color</td>
            <td>The font color for the label.</td>
            <td><span class="label">#FFF</span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <h4><em>Available Sass Variables</em></h4>
      <p>You can customize the labels really easy by changing the our Sass variables.</p>

      <pre>
<code class="language-scss" data-language="scss">
  //Label general settings
  $label-padding: px-to-rems(2) px-to-rems(4) !default;
  $label-font-size: 75% !default;
  $label-font-weight: 400 !default;
  $label-font-color: #FFF !default;
  $label-default-background:  #0092FC !default;

  //Label variations
  $label-radius: px-to-rems(3) !default;
  $label-round: 50% !default;

  //Label background variations
  $label-success-background: #4CAF50 !default;
  $label-danger-background: #F54336 !default;
  $label-warning-background: #FF9800 !default;
</code>
      </pre>

    </div>
  </div>
</div>


