<div class="row">
  <div class="container">
    <h1>Overview</h1>
    <p>Furatto is a responsive web framework written in SASS which intention is to provide a solid and happy front end development for developers.
      Its components are based on the best framworks from its class, such as <a href="#">Bootstrap</a> or <a href="#">Foundation</a>.
    </p>

    <p>
      It includes best fo both worlds - lightweight and descriptive class names. It provides a bunch of mixins and helpers that will help you style
      in no time, as well as extend to your will. If you are familiar with SASS and Compass you will find it is really easy to use and integrate
      into your next project.
    </p>

    <h4><em>Furatto</em></h4>
    <p>
    Furatto is made up of multiple different components to help you build not just markup but new styles right away. Here is a breakdown of what it includes:
    </p>

    <ul>
      <li>
        Navigation
        <ul>
          <li>A navigation bar is handed to you to provide a simple but powerful navigation.</li>
          <li>Tabs navigation to easily group content and navigate through it.</li>
        </ul>
      </li>

      <li>
        Grid
        <ul>
          <li>Provides support for nested columns and stacks them on small devices.</li>
          <li>Easy to customize the number of columns.</li>
          <li>Simple and descriptive class names.</li>
        </ul>
      </li>

      <li>
        Buttons
        <ul>
          <li>Provides color variations, different sizes and styles.</li>
          <li>Comes with a powerful mixin to create your own.</li>
        </ul>
      </li>

      <li>
        Responsive utilities
        <ul>
          <li>Provides class names to hide or show content depending on screen size.</li>
          <li>Helps you align text for different screen sizes through class names.</li>
        </ul>
      </li>
    </ul>

    <h4><em>Compass</em></h4>
    <p>
      Compass is a Stylesheet Authoring Environment that makes your website design simpler to implement and easier to maintain. It includes a bunch
      mixins to help you write powerful and cross-browser styles.
    </p>
    <p>
    Furatto uses Compass to built the styles and provide reliable styles for almost every browser. One of the most important things Compass provide to
    Furatto is the powerful css 3 mixins which automatically adds the prefix for multiple vendors.
    </p>

    <p><strong>Why designers love Compass?</strong></p>

    <ol>
      <li>Experience cleaner markup without presentational classes.</li>
      <li>It’s chock full of the web’s best reusable patterns.</li>
      <li>It makes creating sprites a breeze.</li>
      <li>Compass mixins make CSS3 easy.</li>
      <li>Create beautiful typographic rhythms.</li>
      <li>Download and create extensions with ease.</li>
    </ol>

    <h4><em>Sass</em></h4>

    <p>
    Sass is the most mature, stable, and powerful professional grade CSS extension language in the world. It adds nested rules, variables, mixins, selectors
    inheritance. It is CSS with superpowers.
    </p>

    <p>
    Furatto uses SASS to provide a group of mixins for you create your custom buttons, labels or alerts. It also helps by providing default variables with styles 
    so you can override the framewok directly to meet your needs without even look at the code.
    </p>
  </div>
</div>
