<table class="responsive">
  <thead>
    <tr>
      <th></th>
      <th>
        <span class="muted">Width &lt; 768px</span>
      </th>
      <th>
        <span class="muted">Width &lt; 992px</span>
      </th>
      <th>
        <span class="muted">Width &lt; 1200px</span>
      </th>
      <th>
        <span class="muted">Width &gt; 1200px</span>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td><span class="code">visible-on-xsmall</span></td>
    <td class="docs-visible">Visible</td>
    <td class="docs-invisible">Hidden</td>
    <td class="docs-invisible">Hidden</td>
    <td class="docs-invisible">Hidden</td>
  </tr> 
  <tr>
    <td><span class="code">visible-on-small</span></td>
    <td class="docs-invisible">Hidden</td>
    <td class="docs-visible">Visible</td>
    <td class="docs-invisible">Hidden</td>
    <td class="docs-invisible">Hidden</td>
  </tr> 
  <tr>
    <td><span class="code">visible-on-medium</span></td>
    <td class="docs-invisible">Hidden</td>
    <td class="docs-invisible">Hidden</td>
    <td class="docs-visible">Visible</td>
    <td class="docs-invisible">Hidden</td>
  </tr> 
  <tr>
    <td><span class="code">visible-on-large</span></td>
    <td class="docs-invisible">Hidden</td>
    <td class="docs-invisible">Hidden</td>
    <td class="docs-invisible">Hidden</td>
    <td class="docs-visible">Visible</td>
  </tr> 
  <tr>
    <td><span class="code">hidden-on-xsmall</span></td>
    <td class="docs-invisible">Hidden</td>
    <td class="docs-visible">Visible</td>
    <td class="docs-visible">Visible</td>
    <td class="docs-visible">Visible</td>
  </tr> 
  <tr>
    <td><span class="code">hidden-on-small</span></td>
    <td class="docs-visible">Visible</td>
    <td class="docs-invisible">Hidden</td>
    <td class="docs-visible">Visible</td>
    <td class="docs-visible">Visible</td>
  </tr> 
  <tr>
    <td><span class="code">hidden-on-medium</span></td>
    <td class="docs-visible">Visible</td>
    <td class="docs-visible">Visible</td>
    <td class="docs-invisible">Hidden</td>
    <td class="docs-visible">Visible</td>
  </tr> 
  <tr>
    <td><span class="code">hidden-on-large</span></td>
    <td class="docs-visible">Visible</td>
    <td class="docs-visible">Visible</td>
    <td class="docs-visible">Visible</td>
    <td class="docs-invisible">Hidden</td>
  </tr> 
  </tbody>
</table>
