<div style="width: 90%; margin: 0 auto;padding-top:20px">
  <table class="shadow responsive">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Twitter</th>
        <th>Twitter</th>
        <th>Twitter</th>
        <th>Twitter</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Abraham Kuri</td>
      <td>@kurenn</td>
      <td>@kurenn</td>
      <td>@kurenn</td>
      <td>@kurenn</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Icalia Labs</td>
      <td>@icalialabs</td>
      <td>@kurenn</td>
      <td>@kurenn</td>
      <td>@kurenn</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Furatto</td>
      <td>@furattoicalia</td>
      <td>@kurenn</td>
      <td>@kurenn</td>
      <td>@kurenn</td>
    </tr>
    </tbody>
  </table>
  <br />
    <table class="striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Twitter</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Abraham Kuri</td>
      <td>@kurenn</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Icalia Labs</td>
      <td>@icalialabs</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Furatto</td>
      <td>@furattoicalia</td>
    </tr>
    </tbody>
  </table>
</div>
