<div class="row">
  <div class="eight columns no-padding border bottom left">
    <div class="container">
      <h1>Tables</h1>
      <p>Tables are the best way to present data, but the default values are not pretty. Furatto takes care of that by pulishing the default styling and taking it to the next level.</p>
    </div>
  </div>
  <div class="four columns html no-padding border left bottom">
    <div class="container" style="height:166px;">
    </div>
  </div>
</div>

<div class="row">
    <div class="container">
      <h2>Building the markup</h2>
      <p>The markup to build a table on Furatto is really simple, actually you don't have to do anything else if you already implement them on your site.</p>
      <div class="code-block">
        <a href="#" class="code-copy">Copy</a>
<pre>
<code class="language-markup" data-language="markup">
   &lt;table>
    &lt;thead>
      &lt;tr>
        &lt;th>#&lt;/th>
        &lt;th>Name&lt;/th>
        &lt;th>Twitter&lt;/th>
      &lt;/tr>
    &lt;/thead>
    &lt;tbody>
    &lt;tr>
      &lt;td>1&lt;/td>
      &lt;td>Abraham Kuri&lt;/td>
      &lt;td>@kurenn&lt;/td>
    &lt;/tr>
    &lt;tr>
      &lt;td>2&lt;/td>
      &lt;td>Icalia Labs&lt;/td>
      &lt;td>@icalialabs&lt;/td>
    &lt;/tr>
    &lt;tr>
      &lt;td>3&lt;/td>
      &lt;td>Furatto&lt;/td>
      &lt;td>@furattoicalia&lt;/td>
    &lt;/tr>
    &lt;/tbody>
  &lt;/table>

</code>
</pre>
      </div>

  </div>
</div>

<div class="row">
  <div class="container" style="padding-top: 0;">
  <h3>RESULT</h3>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Twitter</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Abraham Kuri</td>
      <td>@kurenn</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Icalia Labs</td>
      <td>@icalialabs</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Furatto</td>
      <td>@furattoicalia</td>
    </tr>
    </tbody>
  </table>
  </div>
</div>

<div class="row">
    <div class="container">
      <h2>Striped table</h2>
      <div class="code-block">
        <a href="#" class="code-copy">Copy</a>
<pre>
<code class="language-markup" data-language="markup">
   &lt;table class="striped">
    &lt;thead>
      &lt;tr>
        &lt;th>#&lt;/th>
        &lt;th>Name&lt;/th>
        &lt;th>Twitter&lt;/th>
      &lt;/tr>
    &lt;/thead>
    &lt;tbody>
    &lt;tr>
      &lt;td>1&lt;/td>
      &lt;td>Abraham Kuri&lt;/td>
      &lt;td>@kurenn&lt;/td>
    &lt;/tr>
    &lt;tr>
      &lt;td>2&lt;/td>
      &lt;td>Icalia Labs&lt;/td>
      &lt;td>@icalialabs&lt;/td>
    &lt;/tr>
    &lt;tr>
      &lt;td>3&lt;/td>
      &lt;td>Furatto&lt;/td>
      &lt;td>@furattoicalia&lt;/td>
    &lt;/tr>
    &lt;/tbody>
  &lt;/table>

</code>
</pre>
      </div>

  </div>
</div>

<div class="row">
  <div class="container" style="padding-top: 0;">
  <h3>RESULT</h3>
  <table class="striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Twitter</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Abraham Kuri</td>
      <td>@kurenn</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Icalia Labs</td>
      <td>@icalialabs</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Furatto</td>
      <td>@furattoicalia</td>
    </tr>
    </tbody>
  </table>
  </div>
</div>

<div class="row">
    <div class="container">
      <h2>Shadow table</h2>
      <div class="code-block">
        <a href="#" class="code-copy">Copy</a>
<pre>
<code class="language-markup" data-language="markup">
   &lt;table class="shadow">
    &lt;thead>
      &lt;tr>
        &lt;th>#&lt;/th>
        &lt;th>Name&lt;/th>
        &lt;th>Twitter&lt;/th>
      &lt;/tr>
    &lt;/thead>
    &lt;tbody>
    &lt;tr>
      &lt;td>1&lt;/td>
      &lt;td>Abraham Kuri&lt;/td>
      &lt;td>@kurenn&lt;/td>
    &lt;/tr>
    &lt;tr>
      &lt;td>2&lt;/td>
      &lt;td>Icalia Labs&lt;/td>
      &lt;td>@icalialabs&lt;/td>
    &lt;/tr>
    &lt;tr>
      &lt;td>3&lt;/td>
      &lt;td>Furatto&lt;/td>
      &lt;td>@furattoicalia&lt;/td>
    &lt;/tr>
    &lt;/tbody>
  &lt;/table>

</code>
</pre>
      </div>

  </div>
</div>

<div class="row">
  <div class="container" style="padding-top: 0;">
  <h3>RESULT</h3>
  <table class="shadow">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Twitter</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Abraham Kuri</td>
      <td>@kurenn</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Icalia Labs</td>
      <td>@icalialabs</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Furatto</td>
      <td>@furattoicalia</td>
    </tr>
    </tbody>
  </table>
  </div>
</div>

<div class="row">
    <div class="container">
      <h2>Responsive tables</h2>
      <p>We rebuilt a Foundation plugin on responsive tables, this way by just adding the <strong>responsive</strong> class to the table, it will be fully navigational on small devices. Don't believe us?, try resizing the window or open it on your mobile.</p>
      <p>The responsiveness will be triggered on screens with a resolution of <strong>768px</strong> or less.</p>
      <div class="code-block">
        <a href="#" class="code-copy">Copy</a>
<pre>
<code class="language-markup" data-language="markup">
   &lt;table class="responsive">
    &lt;thead>
      &lt;tr>
        &lt;th>#&lt;/th>
        &lt;th>Name&lt;/th>
        &lt;th>Twitter&lt;/th>
      &lt;/tr>
    &lt;/thead>
    &lt;tbody>
    &lt;tr>
      &lt;td>1&lt;/td>
      &lt;td>Abraham Kuri&lt;/td>
      &lt;td>@kurenn&lt;/td>
    &lt;/tr>
    &lt;tr>
      &lt;td>2&lt;/td>
      &lt;td>Icalia Labs&lt;/td>
      &lt;td>@icalialabs&lt;/td>
    &lt;/tr>
    &lt;tr>
      &lt;td>3&lt;/td>
      &lt;td>Furatto&lt;/td>
      &lt;td>@furattoicalia&lt;/td>
    &lt;/tr>
    &lt;/tbody>
  &lt;/table>

</code>
</pre>
      </div>

  </div>
</div>

<div class="row">
  <div class="container" style="padding-top: 0;">
  <h3>RESULT</h3>
  <table class="responsive">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Twitter</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Abraham Kuri</td>
      <td>@kurenn</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Icalia Labs</td>
      <td>@icalialabs</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Furatto</td>
      <td>@furattoicalia</td>
    </tr>
    </tbody>
  </table>
  </div>
</div>

<div class="row">
    <div class="container">
      <h2>Available Sass Variables</h2>
      <p>You can customize the tables really easy by changing the our Sass variables.</p>

<pre>
<code class="language-scss" data-language="scss">
  //General settings
  $table-background-color: #FFF !default;
  $table-margin-bottom: px-to-rems(20) !default;
  $table-cell-padding: px-to-rems(15) px-to-rems(15) !default;
  $table-line-height: px-to-rems(18) !default;
  $table-cell-alignment: left !default;
  $table-border-color: #E8E8EB !default;
  $table-border-width: 1px !default;
  $table-border-style: solid !default;
  $table-color: #95959F !default;
  $table-font-weight: 400 !default;
  $table-font-size: px-to-rems(13) !default;
  $table-row-hover-background-color: #f9f9f9 !default;

  $table-head-font-weight: 600 !default;

  //Variations
  $table-striped-background-color: $table-row-hover-background-color !default;

  $table-shadow-color: rgba(0,0,0,.14) !default;
  $table-shadow: 0 1px 2px 0 $table-shadow-color !default;

  //Mediaqueries
  $table-media-width: 768px !default;

  //Responsivetables
  $include-responsive-tables: true !default;
  $table-responsive-pinned-background: #FFF !default;
  $table-responsive-pinned-border-right: 1px solid $table-border-color !default;
  $table-responsive-pinned-border-left: $table-responsive-pinned-border-right !default;
  $table-responsive-wrapper-border-right: $table-responsive-pinned-border-right !default;
</code>
</pre>

    </div>
</div>
