<div class="furatto-example-container">


  <h1>Unstyled tabs</h1>

  <section class="tabs">
    <ul class="tab list">
      <li class="tab option active">
        <a class="tab link" data-target="first">First</a>
      </li>
      <li class="tab option">
        <a class="tab link" data-target="second">Second</a>
      </li>
      <li class="tab option">
        <a class="tab link" data-target="third">Third</a>
      </li>
    </ul>
    <aside class="tabs port">
      <article class="tab view active" data-name="first">
        <p>This is the first content</p>
      </article>
      <article class="tab view" data-name="second">
        <p>And I'm the second :)</p>
      </article>
      <article class="tab view" data-name="third">
        <p>Whoa! I'm third :)</p>
      </article>
    </aside>
  </section>

  <hr>
  <h1>Bordered tabs</h1>

  <section class="bordered tabs">
    <ul class="tab list">
      <li class="tab option active">
        <a class="tab link" data-target="first">First</a>
      </li>
      <li class="tab option">
        <a class="tab link" data-target="second">Second</a>
      </li>
      <li class="tab option">
        <a class="tab link" data-target="third">Third</a>
      </li>
      <li class="tab option">
        <a class="tab link" data-target="fourth">Fourth</a>
      </li>
    </ul>
    <aside class="tabs port">
      <article class="tab view active" data-name="first">
        <p>This is the first content</p>
      </article>
      <article class="tab view" data-name="second">
        <p>And I'm the second :)</p>
      </article>
      <article class="tab view" data-name="third">
        <p>Whoa! I'm third :)</p>
      </article>
      <article class="tab view" data-name="fourth">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, quod aperiam saepe nemo ut repellat. Doloribus illo itaque ullam officia, doloremque tenetur. Adipisci ratione deleniti illo sapiente a est tenetur.</p>
      </article>
    </aside>
  </section>

  <hr>
  <h1>Vertical tabs</h1>
  <section class="vertical bordered tabs">
    <ul class="tab list">
      <li class="tab option active">
        <a class="tab link" data-target="first">First</a>
      </li>
      <li class="tab option">
        <a class="tab link" data-target="second">Second</a>
      </li>
      <li class="tab option">
        <a class="tab link" data-target="third">Third</a>
      </li>
    </ul>
    <aside class="tabs port">
      <article class="tab view active" data-name="first">
        <p>This is the first content</p>
      </article>
      <article class="tab view" data-name="second">
        <p>And I'm the second :)</p>
      </article>
      <article class="tab view" data-name="third">
        <p>Whoa! I'm third :)</p>
      </article>
    </aside>
  </section>

</div>