<div class="row">
  <div class="container">
    <h1>Text alignment</h1>
    <p>Furatto provides class names to help you align text for different screen sizes and enhance mobile-friendly development, by deciding how to align the text at a class name scope.</p>
    	<div class="row">
			<h4><em>Alignment screen sizes</em></h4>
        	<p>Furatto supports 3 width ranges, from 480px up to 1024px and higher. But you know it is really easy to customize it through the sass variables we provide.</p>
        	<table class="responsive">
    			<thead>
      				<tr>
        				<th>Extra small width <br>320px to 479px</th>
        				<th>Small width <br>480px to 767px</th>
        				<th>Medium width <br>768px to 1023px</th>
        				<th>Large width <br>1024px and up</th>
        				<th>Phone</th>
      				</tr>
    			</thead>
    			<tbody>
    				<tr>
      					<td>text-center-xsm</td>
      					<td>text-center-sm</td>
      					<td>text-center-md</td>
      					<td>text-center-lg</td>
      					<td>center-on-phone</td>
    				</tr>
    				<tr>
    					<td>text-left-xsm </td>	
    					<td>text-left-sm</td>
      					<td>text-left-md</td>
      					<td>text-left-lg</td>
      					<td>left-on-phone</td>
    				</tr>
    				<tr>
      					<td>text-right-xsm</td>
      					<td>text-right-sm</td>
      					<td>text-right-md</td>
      					<td>text-right-lg</td>
      					<td>right-on-phone</td>
    				</tr>
    				<tr>
    					<td>text-justify-xsm</td>
    					<td>text-justify-sm</td>
    					<td>text-justify-md</td>
    					<td>text-justify-lg</td>
    					<td>justify-on-phone</td>
    				</tr>
    			</tbody>
  			</table>
		<div class="row">
  			<h4><em>Available Sass Variables</em></h4>
    		<p>If you don't like the default width values, you can easily customize them.</p>
			<pre>
				<code class="language-scss" data-language="scss">
  //General settings
$extra-small-min-width: 320px !default;
$extra-small-max-width: 479px !default;

$small-min-width: $extra-small-max-width + 1 !default;
$small-max-width: 767px !default;

$medium-min-width: $small-max-width + 1 !default;
$medium-max-width: 1023px !default;

$large-min-width: $medium-max-width + 1 !default;
				</code>
			</pre>
		</div>
	

<p class="text-left">Text Left</p>
<p class="text-center">Text Center</p>
<p class="text-right">Text Right</p>
<p class="text-justify">Text Justify</p>

<p class="text right left-on-phone">RIGTH</p>
