<div class="row">
  <div class="container">
    <h1>Text alignment</h1>
    <p>Furatto provides class names to help you align text for different screen sizes and enhance mobile-friendly development, by deciding how to align the text at a class name scope.</p>
    	<div class="row">
			<h4><em>Alignment</em></h4>
    
        	<table class="responsive">
    			<thead>
      				<tr>
        				<th>Text </th>
        				<th>Phone</th>
      				</tr>
    			</thead>
    			<tbody>
    				<tr>
      					<td>text center</td>
      					<td>center-on-phone</td>
    				</tr>
    				<tr>
    					<td>text left</td>
      					<td>left-on-phone</td>
    				</tr>
    				<tr>
      					<td>text right</td>
      					<td>right-on-phone</td>
    				</tr>
    				<tr>
    					<td>text justify</td>
    					<td>justify-on-phone</td>
    				</tr>
    			</tbody>
  			</table>
  			<div class="html no-padding border left bottom">
      			<div class="container result" style="height:600px;">
  			<span>RESULT</span>
        		<div class="wrapper">
					<h5 class="text left">Text Left</h5>
					<h5 class="text center">Text Center</h5>
					<h5 class="text right">Text Right</h5>
					<h5 class="text justify">Text Justify</h5>
					<h5 class="text right left-on-phone">Text right// Left on phone</h5>
				</div>
				</div>
				</div>

