---
title: Furatto::Using Rails
---

<div class="row">
  <div class="container">
    <h1>Using Rails</h1>
    <p>
    We just love Rails, we use it every day as our development tool of choice. That's why put a gem together for easy setup,
    it includes all the base styles and jQuery plugins of Furatto.
    </p>

    <div class="row">
      <p>Add the <span class="code">compass-rails</span> gem to the Gemfile.</p>
      <%= code_block "clike" do
        %q{gem 'compass-rails', '~> 1.1.2' }
      end %>
    </div>

    <div class="row">
      <p>After including the <span class="code">compass-rails</span> gem, you need to add the <span class="code">furatto</span> gem to your Gemfile.</p>
      <%= code_block "clike" do
        %q{gem 'furatto' }
      end %>
    </div>

    <div class="row">
      <h4><em>Configuring Furatto</em></h4>
      <p>In order to add Furatto to the project, run the following command:</p>
      <%= code_block "clike" do
        %q{rails g furatto:install}
      end %>
    </div>

    <div class="row">
      <h4><em>Rails Gem</em></h4>
      <p>For more information on how to setup your Rails project checkout the <a href="https://github.com/IcaliaLabs/furatto-rails/blob/master/README.md">full documentation</a> or better yet, checkout the <a href="/furatto/examples">starter kit</a> we also use when kicking off a new project.</p>
    </div>

  </div>
</div>
