<div class="row">
  <div class="container">
    <h1>Utility Classes</h1>
    <p>Simple and functional class names for behavior tweaks.</p>

    <div class="row">
      <h4><em>Floating elements</em></h4>
    	<div class="six columns">
        	<h3><em>.pull-left</em></h3>
        	<p>Floats an element to the left.</p>
        	<%= code_block do 
          %q{&lt;div class="pull-left">...&lt;/div>}
        	end %>
        </div>
    	<div class="six columns">
        	<h3><em>.pull-right</em></h3>
        	<p>Floats an element to the right.</p>
        	<%= code_block do 
          %q{&lt;div class="pull-right">...&lt;/div>}
        	end %>
        </div>
        <div class="six columns">
        		<h3><em>.clearfix</em></h3>
        		<p>Clears the float on any element.</p>
        	<%= code_block do 
          %q{&lt;div class="clearfix">...&lt;/div>}
        	end %>
       	</div>
    </div>   	
    <div class="row">
    	<h4><em>Text variations</em></h4>
    	<p>We have included some text variations that will help you give more importance to a certain sentence, or word.</p>
    	<div class="six columns">
        	<h3><em>.text-uppercase</em></h3>
        	<p>Transforms the text to uppercase. Handy when you want to force the uppercase on a text.</p>
        	<%= code_block do 
          %q{&lt;p class="text-uppercase">...&lt;/p>}
        	end %>
        </div>
    </div>
   
    </div>
    </div>

