---
title: Furatto::What's included?
---

<div class="row">
  <div class="container">
    <h1>What's included?</h1>
    <p>In the <a href="/overview.html">Overview</a> section we dug into Furatto frameworks set and how they play together. Now it is time to see what is inside of our <a href="#">download</a>.</p>
    <p>Please refer to the list below to check what's inside</p>

    <h4><em>Download content</em></h4>
   <ul>
     <li><strong>humans.txt</strong> –– A basic humans.txt file which you can use as a base for your site, in case you need one</li>
     <li><strong>robots.txt</strong> –– A basic robots.txt file where you can define your crawling needs</li>
     <li><strong>/dist/css/</strong> –– This is where the real stuff is. The compiled version of Furatto in two flavors, development and production. We also include <a href="http://necolas.github.io/normalize.css/">normalize</a> from Nicolas Gallagher to improve cross-browser rendering.
      <ul>
        <li>furatto.css</li>
        <li>furatto.min.css</li>
        <li>normalize.css</li>
      </ul>
     </li>
     <li><strong>/dist/js/</strong> –– All the javascript plugins from Furatto in individual files, but also a compiled version, again in two flavors, production and development. 
      <ul>
        <li>furatto.js</li>
        <li>furatto.min.js</li>
      </ul>
     </li>
     <li><strong>/examples</strong> –– A set of handy examples wheter you want to have them as a start point or just to see how awesome they are.
   </ul>

   <hr />
    <a href="#" class="button alpha pill" onclick="_gaq.push(['_trackEvent', 'Furatto Actions', 'Download']);">Download</a>

    <h4><em>Looking for the old docs?</em></h4>

    <p>
    We still provide the old versions of Furatto, as well as the documentation, but they are not being longer maintained.
    We have written version 4 almost from scratch in order to provide better class names and easier ways to customize the framework for a happier development.
    </p>

    <div class="row">
      <div class="four columns">
       <h4><em>Version 3</em></h4>
       <ul>
         <li>
          <a href="/furatto/old_docs/v3/assets/furatto.zip" class="alpha" onclick="_gaq.push(['_trackEvent', 'Furatto Actions', 'Download', 'Download V3']);">Download</a>
         </li>
         <li>
          <a href="/furatto/old_docs/v3/" class="" target="_blank">Documentation</a>
         </li>
       </ul>
      </div>
      <div class="four columns">
       <h4><em>Version 2</em></h4>
       <ul>
         <li>
          <a href="/furatto/old_docs/v2/assets/furatto.zip" class="alpha" onclick="_gaq.push(['_trackEvent', 'Furatto Actions', 'Download', 'Download V2']);">Download</a>
         </li>
         <li>
          <a href="/furatto/old_docs/v2/" class="" target="_blank">Documentation</a>
         </li>
       </ul>
      </div>
      <div class="four columns">
       <h4><em>Version 1</em></h4>
       <ul>
         <li>
          <a href="/furatto/old_docs/v1/assets/furatto.zip" class="alpha" onclick="_gaq.push(['_trackEvent', 'Furatto Actions', 'Download', 'Download V1']);">Download</a>
         </li>
         <li>
          <a href="/furatto/old_docs/v1/" class="" target="_blank">Documentation</a>
         </li>
       </ul>
      </div>
    </div>

  </div>
</div>


